# Reto para laboratorio 1: Administración activa Vs Administración pasiva del capital.

<img src="https://www.google.com/search?q=iteso+imagenes&sxsrf=ACYBGNRuniJ0XQ3HCBjfq9sHJdF2JP0eAA:1568326542761&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjnjuTTp8zkAhVSgK0KHT5VD-8Q_AUIEigB&biw=1280&bih=612#imgrc=_">



## Equipo E

### Integrantes:

Ana Paula Rangel Ochoa

Paulina Rodriguez Guerrero

José Luis Suárez de Alba

Diego Velasco Sanchez



### Situación:

<div class=text-justify>  
Acabas de entrar a trabajar a una operadora de fondos de inversión como analista financiero dentro de la mesa de análisis del mercado de renta variable. En la junta trimestral se plantea la posibilidad de crear un fondo propio con exposición al mercado de valores de USA tratando de replicar a los ETFs conocidos como ishares que la empresa BlackRock ofrece.

   La idea es replicar un ETF con posiciones en directo. Te han asignado la tarea de hacer un ejercicio simple de replicar la construcción de un portafolio de inversión y un criterio de rebalanceo lo más parecido a un ETF de ishares que tu selecciones. Esto con la finalidad de comparar los resultados de haber rebanceado periódicamente el portafolio, ó, no haberlo hecho y continuar todo un año con las mismas posiciones.
   
</div>
    
### Caracteristicas:

<div class=text-justify> 
   Debido a tu formación, te piden que este proceso que construyas sea repetible para cualquier ETF y también incluir 3 medidas de atribución al desempeño, tanto para el caso que el ETF nunca hubiese sido rebalanceado como para los casos donde sí.

   En la mesa de análisis están interesados en conocer el proceso que sigues para adquirir, limpiar, dar formato y utilizar los datos, y a pesar que el equipo senior de análisis está compuesto por personal altamente calificado en temas de economía y finanzas, ellos no saben programar por lo que te piden que incluyas el código utilizado, y que sea de manera ordenada y explicando el sentido de las funciones y paqueterías que requeriste.
   
   * Comparar con 1 año de información: 1.3.17 al 1.3.18.

   * Utilizar un ETF de Ishares para el mercado de renta varialbe de USA.

   * Entregar un Jupyter Notebook con explicación y comentarios en el código.

   * Crear y actualizar continuamente un repositorio en GitHub para el proyecto.
</div>
    
    


https://www.quandl.com/search?filters=%5B%22Mutual%20Funds%20%26%20ETFs%22%2C%22Free%22%2C%22United%20States%22%5D

## ETF 
https://www.ishares.com/us/products/239770/

<div class=text-justify> 
Obtener los rendimientos mensuales sacar la desviación estándar para tener la volatilidad de esta es diaria entonces es la desviación de los rendimientos diarios tenemos 12 meses, pero no se modifican ni el primero ni el ultimo con el peso calculamos la varianza desviación de cada mes usando la desviación de los diarios
</div>
<div class=text-justify> 
1.	Descargar los datos mensuales de un año.
2.	Rendimientos diarios y la desv estandar y el sharp (tasa libre de riesgo usa, treasury hold).
3.	Net asset value diario es l NAV (el precio diario de tu ETF) este sirve para sacar la volatilidad y ver si hubo picos si no hay está muy tranquilo (rendimientos diarios por los pesos mensuales para sacar el diario) --> de los 13 archivos.
4.	Hacer 11 escenarios diferentes para ver cual habría sido la mejor situación.
</div>
Escenarios
 * Todo el año con los primeros pesos.
 * Rebalancear igual que el ETF.
 * Rebalancear cada mes.

### Importar librerias

In [2]:
#pip install xlrd
#pip install xlwt
#pip install quandl
import quandl
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import datetime as dt

### Información general del ETF

### Lectura de mis archivos

In [11]:
#extraccion de los 13 meses archivos
mes1    = pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/Proyecto%20corregido/mes1.csv',
                   skiprows = [0,1,2,3,4,5,6,7,8,9]) 
mes1.dropna()

mes2    = pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/Proyecto%20corregido/mes2.csv',
                   skiprows = [0,1,2,3,4,5,6,7,8,9]) 
mes2.dropna()
mes3    = pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/Proyecto%20corregido/mes3.csv',
                   skiprows = [0,1,2,3,4,5,6,7,8,9]) 
mes3.dropna()
mes4    = pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/Proyecto%20corregido/mes4.csv',
                   skiprows = [0,1,2,3,4,5,6,7,8,9]) 
mes4.dropna()
mes5    = pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/Proyecto%20corregido/mes5.csv',
                   skiprows = [0,1,2,3,4,5,6,7,8,9]) 
mes5.dropna()
mes6    = pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/Proyecto%20corregido/mes6.csv',
                   skiprows = [0,1,2,3,4,5,6,7,8,9])
mes6.dropna()
mes7    = pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/Proyecto%20corregido/mes7.csv',
                   skiprows = [0,1,2,3,4,5,6,7,8,9]) 
mes7.dropna()
mes8    = pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/Proyecto%20corregido/mes8.csv',
                   skiprows = [0,1,2,3,4,5,6,7,8,9]) 
mes8.dropna()
mes9    = pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/Proyecto%20corregido/mes9.csv',
                   skiprows = [0,1,2,3,4,5,6,7,8,9])
mes9.dropna()
mes10    = pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/Proyecto%20corregido/mes10.csv',
                   skiprows = [0,1,2,3,4,5,6,7,8,9])
mes10.dropna()
mes11    = pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/Proyecto%20corregido/mes11.csv',
                   skiprows = [0,1,2,3,4,5,6,7,8,9]) 
mes11.dropna()
mes12    = pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/Proyecto%20corregido/mes12.csv',
                   skiprows = [0,1,2,3,4,5,6,7,8,9]) 
mes12.dropna()
mes13    = pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/Proyecto%20corregido/mes13.csv',
                   skiprows = [0,1,2,3,4,5,6,7,8,9])
mes13.dropna()

print("listo")

listo

In [49]:
#extraer Shares Outstanding de los archivos
so1= pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/Proyecto%20corregido/mes1.csv')
so2= pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/Proyecto%20corregido/mes2.csv')
so3= pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/Proyecto%20corregido/mes3.csv')
so4= pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/Proyecto%20corregido/mes4.csv')
so5= pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/Proyecto%20corregido/mes5.csv')
so6= pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/Proyecto%20corregido/mes6.csv')
so7= pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/Proyecto%20corregido/mes7.csv')
so8= pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/Proyecto%20corregido/mes8.csv')
so9= pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/Proyecto%20corregido/mes9.csv')
so10= pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/Proyecto%20corregido/mes10.csv')
so11= pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/Proyecto%20corregido/mes11.csv')
so12= pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/Proyecto%20corregido/mes12.csv')
so13= pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/Proyecto%20corregido/mes13.csv')

so1=so1.iloc[2,1]
so2=so2.iloc[2,1]
so3=so3.iloc[2,1]
so4=so4.iloc[2,1]
so5=so5.iloc[2,1]
so6=so6.iloc[2,1]
so7=so7.iloc[2,1]
so8=so8.iloc[2,1]
so9=so9.iloc[2,1]
so10=so10.iloc[2,1]
so11=so11.iloc[2,1]
so12=so12.iloc[2,1]
so13=so13.iloc[2,1]

ParserError: Error tokenizing data. C error: Expected 2 fields in line 11, saw 16

### Separo mis tickers, precios y numero de acciones por mes

In [6]:
xmes1   = mes1['Ticker'] #tickets primer mes
price1  = mes1['Price'] #precios primer mes
shares1  = mes1['Shares'] #shares primer mes

xmes2   = mes2['Ticker'] 
price2  = mes2['Price'] 
shares2  = mes2['Shares'] 

xmes3   = mes3['Ticker'] 
price3  = mes3['Price'] 
shares3  = mes3['Shares']

xmes4   = mes4['Ticker'] 
price4  = mes4['Price'] 
shares4  = mes4['Shares']

xmes5   = mes5['Ticker'] 
price5  = mes5['Price'] 
shares5  = mes5['Shares']

xmes6   = mes6['Ticker'] 
price6  = mes6['Price'] 
shares6  = mes6['Shares']

xmes7   = mes7['Ticker'] 
price7  = mes7['Price'] 
shares7  = mes7['Shares']

xmes8   = mes8['Ticker'] 
price8  = mes8['Price'] 
shares8  = mes8['Shares']

xmes9   = mes9['Ticker'] 
price9  = mes9['Price'] 
shares9  = mes9['Shares']


xmes10   = mes10['Ticker'] 
price10  = mes10['Price'] 
shares10  = mes10['Shares']

xmes11   = mes11['Ticker'] 
price11  = mes11['Price'] 
shares11  = mes11['Shares']

xmes12   = mes12['Ticker'] 
price12  = mes12['Price'] 
shares12  = mes12['Shares']

xmes13   = mes13['Ticker'] 
price13  = mes13['Price'] 
shares13  = mes13['Shares']

print("listo")

listo

In [13]:
shares1=mes1['Shares'].dropna()
s1=[]
for i in shares1:
    Temp=float(i.replace(",",""))
    s1.append(Temp)
    
p1=mes1['Price'].dropna()

c1=np.dot(s1,p1)
c1

83447361.48

In [19]:
shares2=mes2['Shares'].dropna()
s2=[]
for i in shares2:
    Temp=float(i.replace(",",""))
    s2.append(Temp)
    
p2=mes2['Price'].dropna()

c2=np.dot(s2,p2)
c2

79774490.4

In [20]:
shares3=mes3['Shares'].dropna()
s3=[]
for i in shares3:
    Temp=float(i.replace(",",""))
    s3.append(Temp)
    
p3=mes3['Price'].dropna()

c3=np.dot(s3,p3)
c3

78429220.48999998

In [21]:
shares4=mes4['Shares'].dropna()
s4=[]
for i in shares4:
    Temp=float(i.replace(",",""))
    s4.append(Temp)
    
p4=mes4['Price'].dropna()

c4=np.dot(s4,p4)
c4

80015964.03999999

In [22]:
shares5=mes5['Shares'].dropna()
s5=[]
for i in shares5:
    Temp=float(i.replace(",",""))
    s5.append(Temp)
    
p5=mes5['Price'].dropna()

c5=np.dot(s5,p5)
c5

78721158.86999999

In [23]:
shares6=mes6['Shares'].dropna()
s6=[]
for i in shares6:
    Temp=float(i.replace(",",""))
    s6.append(Temp)
    
p6=mes6['Price'].dropna()

c6=np.dot(s6,p6)
c6

74867414.5

In [25]:
shares7=mes7['Shares'].dropna()
s7=[]
for i in shares7:
    Temp=float(i.replace(",",""))
    s7.append(Temp)
    
p7=mes7['Price'].dropna()

c7=np.dot(s7,p7)
c7

62081498.82

In [26]:
shares8=mes8['Shares'].dropna()
s8=[]
for i in shares8:
    Temp=float(i.replace(",",""))
    s8.append(Temp)
    
p8=mes8['Price'].dropna()

c8=np.dot(s8,p8)
c8

67050200.339999996

In [27]:
shares9=mes9['Shares'].dropna()
s9=[]
for i in shares9:
    Temp=float(i.replace(",",""))
    s9.append(Temp)
    
p9=mes9['Price'].dropna()

c9=np.dot(s9,p9)
c9

61684711.16

In [28]:
shares10=mes10['Shares'].dropna()
s10=[]
for i in shares10:
    Temp=float(i.replace(",",""))
    s10.append(Temp)
    
p10=mes10['Price'].dropna()

c10=np.dot(s10,p10)
c10

54046404.66

In [31]:
shares11=mes11['Shares'].dropna()
s11=[]
for i in shares11:
    Temp=float(i.replace(",",""))
    s11.append(Temp)
    
p11=mes11['Price'].dropna()

c11=np.dot(s11,p11)
c11

52321786.60000001

In [32]:
shares12=mes12['Shares'].dropna()
s12=[]
for i in shares12:
    Temp=float(i.replace(",",""))
    s12.append(Temp)
    
p12=mes12['Price'].dropna()

c12=np.dot(s12,p12)
c12

52759032.35

In [33]:
shares13=mes13['Shares'].dropna()
s13=[]
for i in shares13:
    Temp=float(i.replace(",",""))
    s13.append(Temp)
    
p13=mes13['Price'].dropna()

c13=np.dot(s13,p13)
c13

49924242.52

### Extraer datos de quandl

In [11]:

quandl.ApiConfig.api_key = "wzJyeSB_seJSjER5FGSA"

In [12]:
d_quandl = quandl.get_table('WIKI/PRICES', ticker = [tickers], qopts = {'columns': ['ticker', 'date', 'close']},
                        date = {'gte': '2017-03-01', 'lte': '2018-04-01'}, paginate=True)
d_quandl.head()

     ticker       date  close
None
0      VSAT 2018-03-27  68.30
1      VSAT 2018-03-26  70.36
2      VSAT 2018-03-23  69.13
3      VSAT 2018-03-22  71.09
4      VSAT 2018-03-21  72.17

In [13]:
daily_data = data.set_index('date')
daily_data = daily_data.pivot(columns='ticker')
daily_data.dropna()
datos=daily_data.T
datos.rename(index={0:'Date'}, columns={1:'SM'}, inplace=True)
datos.index
p=datos.reset_index(level=[0,1])
p.head(10)

NameError: name 'data' is not defined

In [9]:
historic_prices = data.set_index('date')
historic_prices = historic_prices.pivot(columns='ticker')
historic_prices

AttributeError: 'tuple' object has no attribute 'set_index'

In [ ]:
historic_prices.columns=test.columns.droplevel(0)

In [ ]:
#ana pau
quandl.ApiConfig.api_key = 'wzJyeSB_seJSjER5FGSA'

data = quandl.get_table('WIKI/PRICES', qopts = { 'columns': ['ticker', 'date', 'close'] }, 
                        ticker = [tickers], date = { 'gte': '2017-02-28', 'lte': '2018-02-28' })
data (5)