# Reto para laboratorio 1: Administración activa Vs Administración pasiva del capital.

<img src="https://www.google.com/search?q=iteso+imagenes&sxsrf=ACYBGNRuniJ0XQ3HCBjfq9sHJdF2JP0eAA:1568326542761&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjnjuTTp8zkAhVSgK0KHT5VD-8Q_AUIEigB&biw=1280&bih=612#imgrc=_">



## Equipo E

### Integrantes:

Ana Paula Rangel Ochoa

Paulina Rodriguez Guerrero

José Luis Suárez de Alba

Diego Velasco Sanchez



### Situación:

<div class=text-justify>  
Acabas de entrar a trabajar a una operadora de fondos de inversión como analista financiero dentro de la mesa de análisis del mercado de renta variable. En la junta trimestral se plantea la posibilidad de crear un fondo propio con exposición al mercado de valores de USA tratando de replicar a los ETFs conocidos como ishares que la empresa BlackRock ofrece.

   La idea es replicar un ETF con posiciones en directo. Te han asignado la tarea de hacer un ejercicio simple de replicar la construcción de un portafolio de inversión y un criterio de rebalanceo lo más parecido a un ETF de ishares que tu selecciones. Esto con la finalidad de comparar los resultados de haber rebanceado periódicamente el portafolio, ó, no haberlo hecho y continuar todo un año con las mismas posiciones.
   
</div>
    
### Caracteristicas:

<div class=text-justify> 
   Debido a tu formación, te piden que este proceso que construyas sea repetible para cualquier ETF y también incluir 3 medidas de atribución al desempeño, tanto para el caso que el ETF nunca hubiese sido rebalanceado como para los casos donde sí.

   En la mesa de análisis están interesados en conocer el proceso que sigues para adquirir, limpiar, dar formato y utilizar los datos, y a pesar que el equipo senior de análisis está compuesto por personal altamente calificado en temas de economía y finanzas, ellos no saben programar por lo que te piden que incluyas el código utilizado, y que sea de manera ordenada y explicando el sentido de las funciones y paqueterías que requeriste.
   
   * Comparar con 1 año de información: 1.3.17 al 1.3.18.

   * Utilizar un ETF de Ishares para el mercado de renta varialbe de USA.

   * Entregar un Jupyter Notebook con explicación y comentarios en el código.

   * Crear y actualizar continuamente un repositorio en GitHub para el proyecto.
</div>
    
    


https://www.quandl.com/search?filters=%5B%22Mutual%20Funds%20%26%20ETFs%22%2C%22Free%22%2C%22United%20States%22%5D

## ETF 
https://www.ishares.com/us/products/239770/

<div class=text-justify> 
Obtener los rendimientos mensuales sacar la desviación estándar para tener la volatilidad de esta es diaria entonces es la desviación de los rendimientos diarios tenemos 12 meses, pero no se modifican ni el primero ni el ultimo con el peso calculamos la varianza desviación de cada mes usando la desviación de los diarios
</div>
<div class=text-justify> 
1.	Descargar los datos mensuales de un año.
2.	Rendimientos diarios y la desv estandar y el sharp (tasa libre de riesgo usa, treasury hold).
3.	Net asset value diario es l NAV (el precio diario de tu ETF) este sirve para sacar la volatilidad y ver si hubo picos si no hay está muy tranquilo (rendimientos diarios por los pesos mensuales para sacar el diario) --> de los 13 archivos.
4.	Hacer 11 escenarios diferentes para ver cual habría sido la mejor situación.
</div>
Escenarios
 * Todo el año con los primeros pesos.
 * Rebalancear igual que el ETF.
 * Rebalancear cada mes.

### Importar librerias

In [149]:
#pip install xlrd
#pip install xlwt
#pip install quandl
import quandl
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import datetime as dt

### Información general del ETF

### Lectura de mis archivos

In [150]:
#extraccion de los 13 meses archivos
mes1    = pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/Proyecto%20corregido/mes1.csv',
                   skiprows = [0,1,2,3,4,5,6,7,8,9]) 
mes1.dropna()

mes2    = pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/Proyecto%20corregido/mes2.csv',
                   skiprows = [0,1,2,3,4,5,6,7,8,9]) 
mes2.dropna()
mes3    = pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/Proyecto%20corregido/mes3.csv',
                   skiprows = [0,1,2,3,4,5,6,7,8,9]) 
mes3.dropna()
mes4    = pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/Proyecto%20corregido/mes4.csv',
                   skiprows = [0,1,2,3,4,5,6,7,8,9]) 
mes4.dropna()
mes5    = pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/Proyecto%20corregido/mes5.csv',
                   skiprows = [0,1,2,3,4,5,6,7,8,9]) 
mes5.dropna()
mes6    = pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/Proyecto%20corregido/mes6.csv',
                   skiprows = [0,1,2,3,4,5,6,7,8,9])
mes6.dropna()
mes7    = pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/Proyecto%20corregido/mes7.csv',
                   skiprows = [0,1,2,3,4,5,6,7,8,9]) 
mes7.dropna()
mes8    = pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/Proyecto%20corregido/mes8.csv',
                   skiprows = [0,1,2,3,4,5,6,7,8,9]) 
mes8.dropna()
mes9    = pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/Proyecto%20corregido/mes9.csv',
                   skiprows = [0,1,2,3,4,5,6,7,8,9])
mes9.dropna()
mes10    = pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/Proyecto%20corregido/mes10.csv',
                   skiprows = [0,1,2,3,4,5,6,7,8,9])
mes10.dropna()
mes11    = pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/Proyecto%20corregido/mes11.csv',
                   skiprows = [0,1,2,3,4,5,6,7,8,9]) 
mes11.dropna()
mes12    = pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/Proyecto%20corregido/mes12.csv',
                   skiprows = [0,1,2,3,4,5,6,7,8,9]) 
mes12.dropna()
mes13    = pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/Proyecto%20corregido/mes13.csv',
                   skiprows = [0,1,2,3,4,5,6,7,8,9])
mes13.dropna()

print("listo")

listo

In [151]:
#extraer Shares Outstanding de los archivos
so1= pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/Proyecto%20corregido/mes1.csv') 
so2= pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/Proyecto%20corregido/mes2.csv')
so3= pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/Proyecto%20corregido/mes3.csv')
so4= pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/Proyecto%20corregido/mes4.csv')
so5= pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/Proyecto%20corregido/mes5.csv')
so6= pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/Proyecto%20corregido/mes6.csv')
so7= pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/Proyecto%20corregido/mes7.csv')
so8= pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/Proyecto%20corregido/mes8.csv')
so9= pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/Proyecto%20corregido/mes9.csv')
so10= pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/Proyecto%20corregido/mes10.csv')
so11= pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/Proyecto%20corregido/mes11.csv')
so12= pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/Proyecto%20corregido/mes12.csv')
so13= pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/Proyecto%20corregido/mes13.csv')

so1=so1.iloc[3,1]
so2=so2.iloc[3,1]
so3=so3.iloc[3,1]
so4=so4.iloc[3,1]
so5=so5.iloc[3,1]
so6=so6.iloc[3,1]
so7=so7.iloc[3,1]
so8=so8.iloc[3,1]
so9=so9.iloc[3,1]
so10=so10.iloc[3,1]
so11=so11.iloc[3,1]
so12=so12.iloc[3,1]
so13=so13.iloc[3,1]

#quitar comas
so1=so1.replace(',', '')
so1=so1.replace('', '')
so2=so2.replace(',', '')
so3=so3.replace(',', '')
so4=so4.replace(',', '')
so5=so5.replace(',', '')
so6=so6.replace(',', '')
so7=so7.replace(',', '')
so8=so8.replace(',', '')
so9=so9.replace(',', '')
so10=so10.replace(',', '')
so11=so11.replace(',', '')
so12=so12.replace(',', '')
so13=so13.replace(',', '')

so1=float(so1)
so2=float(so2)
so3=float(so3)
so4=float(so4)
so5=float(so5)
so6=float(so6)
so7=float(so7)
so8=float(so8)
so9=float(so9)
so10=float(so10)
so11=float(so11)
so12=float(so12)
so13=float(so13)

### Separo mis tickers, precios y numero de acciones por mes

In [152]:
xmes1   = mes1['Ticker'] #tickets primer mes
price1  = mes1['Price'] #precios primer mes
shares1  = mes1['Shares'] #shares primer mes

xmes2   = mes2['Ticker'] 
price2  = mes2['Price'] 
shares2  = mes2['Shares'] 

xmes3   = mes3['Ticker'] 
price3  = mes3['Price'] 
shares3  = mes3['Shares']

xmes4   = mes4['Ticker'] 
price4  = mes4['Price'] 
shares4  = mes4['Shares']

xmes5   = mes5['Ticker'] 
price5  = mes5['Price'] 
shares5  = mes5['Shares']

xmes6   = mes6['Ticker'] 
price6  = mes6['Price'] 
shares6  = mes6['Shares']

xmes7   = mes7['Ticker'] 
price7  = mes7['Price'] 
shares7  = mes7['Shares']

xmes8   = mes8['Ticker'] 
price8  = mes8['Price'] 
shares8  = mes8['Shares']

xmes9   = mes9['Ticker'] 
price9  = mes9['Price'] 
shares9  = mes9['Shares']


xmes10   = mes10['Ticker'] 
price10  = mes10['Price'] 
shares10  = mes10['Shares']

xmes11   = mes11['Ticker'] 
price11  = mes11['Price'] 
shares11  = mes11['Shares']

xmes12   = mes12['Ticker'] 
price12  = mes12['Price'] 
shares12  = mes12['Shares']

xmes13   = mes13['Ticker'] 
price13  = mes13['Price'] 
shares13  = mes13['Shares']

print("listo")

listo

In [153]:
shares1=mes1['Shares'].dropna()
s1=[]
for i in shares1:
    Temp=float(i.replace(",",""))
    s1.append(Temp)
    
p1=mes1['Price'].dropna()

c1=np.dot(s1,p1)


c1

83447361.48

In [154]:
shares2=mes2['Shares'].dropna()
s2=[]
for i in shares2:
    Temp=float(i.replace(",",""))
    s2.append(Temp)
    
p2=mes2['Price'].dropna()

c2=np.dot(s2,p2)
c2

79774490.4

In [155]:
shares3=mes3['Shares'].dropna()
s3=[]
for i in shares3:
    Temp=float(i.replace(",",""))
    s3.append(Temp)
    
p3=mes3['Price'].dropna()

c3=np.dot(s3,p3)
c3

78429220.49

In [156]:
shares4=mes4['Shares'].dropna()
s4=[]
for i in shares4:
    Temp=float(i.replace(",",""))
    s4.append(Temp)
    
p4=mes4['Price'].dropna()

c4=np.dot(s4,p4)
c4

80015964.03999999

In [157]:
shares5=mes5['Shares'].dropna()
s5=[]
for i in shares5:
    Temp=float(i.replace(",",""))
    s5.append(Temp)
    
p5=mes5['Price'].dropna()

c5=np.dot(s5,p5)
c5

78721158.87

In [158]:
shares6=mes6['Shares'].dropna()
s6=[]
for i in shares6:
    Temp=float(i.replace(",",""))
    s6.append(Temp)
    
p6=mes6['Price'].dropna()

c6=np.dot(s6,p6)
c6

74867414.5

In [159]:
shares7=mes7['Shares'].dropna()
s7=[]
for i in shares7:
    Temp=float(i.replace(",",""))
    s7.append(Temp)
    
p7=mes7['Price'].dropna()

c7=np.dot(s7,p7)
c7

62081498.82

In [160]:
shares8=mes8['Shares'].dropna()
s8=[]
for i in shares8:
    Temp=float(i.replace(",",""))
    s8.append(Temp)
    
p8=mes8['Price'].dropna()

c8=np.dot(s8,p8)
c8

67050200.34

In [161]:
shares9=mes9['Shares'].dropna()
s9=[]
for i in shares9:
    Temp=float(i.replace(",",""))
    s9.append(Temp)
    
p9=mes9['Price'].dropna()

c9=np.dot(s9,p9)
c9

61684711.16

In [162]:
shares10=mes10['Shares'].dropna()
s10=[]
for i in shares10:
    Temp=float(i.replace(",",""))
    s10.append(Temp)
    
p10=mes10['Price'].dropna()

c10=np.dot(s10,p10)
c10

54046404.66

In [163]:
shares11=mes11['Shares'].dropna()
s11=[]
for i in shares11:
    Temp=float(i.replace(",",""))
    s11.append(Temp)
    
p11=mes11['Price'].dropna()

c11=np.dot(s11,p11)
c11

52321786.6

In [164]:
shares12=mes12['Shares'].dropna()
s12=[]
for i in shares12:
    Temp=float(i.replace(",",""))
    s12.append(Temp)
    
p12=mes12['Price'].dropna()

c12=np.dot(s12,p12)
c12

52759032.35

In [165]:
shares13=mes13['Shares'].dropna()
s13=[]
for i in shares13:
    Temp=float(i.replace(",",""))
    s13.append(Temp)
    
p13=mes13['Price'].dropna()

c13=np.dot(s13,p13)
c13

49924242.519999996

##### NAV mensual

In [166]:
nav1=c1/so1
nav2=c2/so2
nav3=c3/so3
nav4=c4/so4
nav5=c5/so5
nav6=c6/so6
nav7=c7/so7
nav8=c8/so8
nav9=c9/so9
nav10=c10/so10
nav11=c11/so11
nav12=c12/so12
nav13=c13/so13

navs=[nav1,nav2,nav3,nav4,nav5,nav6,nav7,nav8,nav9,nav10,nav11,nav12,nav13]
navs

[47.68420656,
 46.92617082352942,
 43.571789161111106,
 47.06821414117647,
 47.70979325454546,
 45.37419060606061,
 45.98629542222222,
 47.89300024285715,
 45.69237863703703,
 51.47276634285714,
 49.83027295238095,
 50.24669747619048,
 52.551834231578944]

### Rendimientos mensuales

In [167]:
def rend(x,y):
    return (x/y)-1

rend1=rend(nav2,nav1)
rend2=rend(nav3,nav2)
rend3=rend(nav4,nav3)
rend4=rend(nav5,nav4)
rend5=rend(nav6,nav5)
rend6=rend(nav7,nav6)
rend7=rend(nav8,nav7)
rend8=rend(nav9,nav8)
rend9=rend(nav10,nav9)
rend10=rend(nav11,nav10)
rend11=rend(nav12,nav11)
rend12=rend(nav13,nav12)

rends=[rend1,rend2,rend3,rend4,rend5,rend6,rend7,rend8,rend9,rend10,rend11,rend12]
Month=[1,2,3,4,5,6,7,8,9,10,11,12]
rends=pd.DataFrame(rends)
rends.rename(index={-1:'Month'}, columns={0:'Rend'}, inplace=True)
rends

        Rend
0  -0.015897
1  -0.071482
2   0.080245
3   0.013631
4  -0.048954
5   0.013490
6   0.041462
7  -0.045949
8   0.126507
9  -0.031910
10  0.008357
11  0.045876

In [168]:
a=pd.DataFrame(columns=("Month", "Rends","Std","Sharpe"))

### Tickers unicos

In [169]:
#union de los tickers unicos de los 13 archivos
smes=set(xmes1)|set(xmes2)|set(xmes3)|set(xmes4)|set(xmes5)|set(xmes6)|set(xmes7)|set(xmes8)|set(xmes9)|set(xmes10)|set(xmes11)|set(xmes12)|set(xmes13)
len(smes)

30

### Extraer datos de quandl

In [212]:

quandl.ApiConfig.api_key = "wzJyeSB_seJSjER5FGSA"

In [213]:
d_quandl = quandl.get_table('WIKI/PRICES', ticker = [smes], qopts = {'columns': ['ticker', 'date', 'close']},
                        date = {'gte': '2017-02-28', 'lte': '2018-02-28'}, paginate=True)
d_quandl.head()

     ticker       date   close
None
0      XXIA 2017-04-18  19.650
1      XXIA 2017-04-17  19.650
2      XXIA 2017-04-13  19.650
3      XXIA 2017-04-12  19.650
4      XXIA 2017-04-11  19.625

In [214]:
daily_data = d_quandl.set_index('date')
daily_data = daily_data.pivot(columns='ticker')
daily_data.dropna()
datos=daily_data.T
datos.rename(index={0:'Date'}, columns={1:'SM'}, inplace=True)
datos.index
p=datos.reset_index(level=[0,1])
p = p.fillna(0)
p.head(30)

date,level_0,ticker,2017-02-28 00:00:00,2017-03-01 00:00:00,2017-03-02 00:00:00,2017-03-03 00:00:00,2017-03-06 00:00:00,2017-03-07 00:00:00,2017-03-08 00:00:00,2017-03-09 00:00:00,...,2018-02-14 00:00:00,2018-02-15 00:00:00,2018-02-16 00:00:00,2018-02-20 00:00:00,2018-02-21 00:00:00,2018-02-22 00:00:00,2018-02-23 00:00:00,2018-02-26 00:00:00,2018-02-27 00:00:00,2018-02-28 00:00:00
0,close,ADTN,21.15,21.85,21.60,21.55,21.60,21.45,21.25,21.150,...,16.30,16.50,16.25,16.40,16.275,15.80,15.70,15.800,15.35,15.65
1,close,ARRS,25.80,25.95,25.36,25.10,25.11,24.99,24.96,25.070,...,24.77,25.91,25.42,24.92,24.680,24.90,25.60,26.300,25.59,25.50
2,close,BRCD,12.31,12.35,12.37,12.35,12.35,12.35,12.36,12.350,...,0.00,0.00,0.00,0.00,0.000,0.00,0.00,0.000,0.00,0.00
3,close,CIEN,26.34,26.41,26.39,26.10,25.80,26.17,23.97,23.690,...,23.20,23.17,23.23,23.04,23.160,23.00,23.34,23.700,23.65,23.17
4,close,CSCO,34.18,34.44,34.39,34.29,34.19,34.20,34.02,34.070,...,42.09,44.08,44.33,44.06,43.310,42.94,44.00,45.360,45.04,44.78
5,close,EXTR,6.25,6.34,6.21,6.15,6.05,6.10,6.77,6.715,...,12.10,12.19,12.05,12.20,11.960,11.65,11.76,11.980,11.83,11.41
6,close,FFIV,143.27,145.08,142.10,142.87,141.34,143.60,142.88,143.760,...,143.50,145.39,145.03,143.04,144.660,143.87,147.33,151.030,150.84,148.52
7,close,FNSR,33.48,34.37,33.42,34.48,34.97,34.69,34.35,34.900,...,18.22,18.20,17.90,18.12,18.320,17.98,18.28,18.290,18.20,18.00
8,close,HRS,109.90,110.91,110.30,110.46,109.90,109.73,110.03,109.990,...,154.97,156.23,156.66,157.01,158.170,157.99,158.80,159.540,159.02,156.15
9,close,IDCC,84.05,86.15,83.55,84.40,83.90,84.10,83.95,84.800,...,79.65,80.50,79.35,76.90,76.600,70.30,75.70,75.450,72.10,71.80
10,close,INFN,10.85,10.92,10.77,10.89,10.82,10.69,10.64,10.490,...,9.56,9.60,9.82,9.99,9.930,9.91,9.95,10.155,9.90,9.95
11,close,JNPR,28.00,28.25,28.26,28.29,28.16,28.15,27.70,27.810,...,26.17,26.91,26.35,26.23,25.890,26.03,26.12,26.190,26.10,25.66
12,close,MSI,78.97,79.98,80.02,80.55,79.97,79.66,80.20,81.370,...,105.02,106.13,105.91,105.75,104.990,104.73,106.73,106.820,106.62,106.15
13,close,NTCT,36.95,37.35,36.85,36.70,36.95,36.85,36.85,36.500,...,26.85,27.00,27.25,26.65,26.750,26.35,26.90,27.150,26.60,26.55
14,close,NTGR,54.80,55.25,54.45,54.55,53.55,53.25,53.00,53.100,...,60.75,61.80,61.30,60.20,58.700,58.70,58.70,59.800,58.35,55.75
15,close,OCLR,8.50,8.81,8.88,9.60,9.49,9.46,9.16,9.230,...,6.68,6.79,6.87,6.90,6.870,6.83,7.05,7.210,7.15,7.17
16,close,PANW,151.90,115.21,116.49,115.55,114.65,114.25,114.55,115.050,...,158.37,160.59,162.08,162.92,164.400,161.98,165.54,169.320,173.24,173.37
17,close,PLT,53.56,54.40,54.10,53.60,52.93,52.78,52.83,53.110,...,56.46,57.14,56.23,55.58,55.100,54.47,54.72,56.150,55.13,54.04
18,close,SATS,53.27,54.08,53.99,53.61,52.55,52.52,53.37,53.330,...,57.42,59.14,59.78,59.54,59.850,57.71,59.72,59.130,58.50,58.02
19,close,UBNT,49.14,49.59,47.96,47.94,48.30,48.67,49.06,49.520,...,72.06,75.29,74.04,55.28,56.680,56.61,57.00,59.290,61.21,63.60
20,close,VSAT,68.84,69.02,68.70,68.79,68.66,66.08,64.89,65.810,...,68.28,69.93,72.10,70.75,70.930,70.06,71.33,71.780,71.78,69.79
21,close,XXIA,19.60,19.60,19.55,19.60,19.50,19.55,19.50,19.550,...,0.00,0.00,0.00,0.00,0.000,0.00,0.00,0.000,0.00,0.00

In [217]:
historic_prices = d_quandl.set_index('date')
historic_prices = historic_prices.pivot(columns='ticker')
historic_prices.columns = historic_prices.columns.droplevel(0)
historic_prices

ticker,ADTN,ARRS,BRCD,CIEN,CSCO,EXTR,FFIV,FNSR,HRS,IDCC,...,MSI,NTCT,NTGR,OCLR,PANW,PLT,SATS,UBNT,VSAT,XXIA
date,,,,,,,,,,,,,,,,,,,,,
2017-02-28,21.150,25.800,12.31,26.34,34.18,6.250,143.27,33.480,109.90,84.05,...,78.97,36.950,54.800,8.500,151.90,53.56,53.27,49.140,68.84,19.600
2017-03-01,21.850,25.950,12.35,26.41,34.44,6.340,145.08,34.370,110.91,86.15,...,79.98,37.350,55.250,8.810,115.21,54.40,54.08,49.590,69.02,19.600
2017-03-02,21.600,25.360,12.37,26.39,34.39,6.210,142.10,33.420,110.30,83.55,...,80.02,36.850,54.450,8.880,116.49,54.10,53.99,47.960,68.70,19.550
2017-03-03,21.550,25.100,12.35,26.10,34.29,6.150,142.87,34.480,110.46,84.40,...,80.55,36.700,54.550,9.600,115.55,53.60,53.61,47.940,68.79,19.600
2017-03-06,21.600,25.110,12.35,25.80,34.19,6.050,141.34,34.970,109.90,83.90,...,79.97,36.950,53.550,9.490,114.65,52.93,52.55,48.300,68.66,19.500
2017-03-07,21.450,24.990,12.35,26.17,34.20,6.100,143.60,34.690,109.73,84.10,...,79.66,36.850,53.250,9.460,114.25,52.78,52.52,48.670,66.08,19.550
2017-03-08,21.250,24.960,12.36,23.97,34.02,6.770,142.88,34.350,110.03,83.95,...,80.20,36.850,53.000,9.160,114.55,52.83,53.37,49.060,64.89,19.500
2017-03-09,21.150,25.070,12.35,23.69,34.07,6.715,143.76,34.900,109.99,84.80,...,81.37,36.500,53.100,9.230,115.05,53.11,53.33,49.520,65.81,19.550
2017-03-10,21.250,25.380,12.39,23.66,34.26,6.640,145.93,26.980,110.62,84.30,...,82.10,36.750,53.350,8.550,118.88,54.12,53.72,49.860,65.59,19.550
2017-03-13,21.200,24.980,12.38,23.27,34.10,6.620,146.29,26.750,110.79,84.00,...,81.65,36.850,53.600,8.410,117.68,53.76,54.04,51.150,65.30,19.500
2017-03-14,21.200,26.110,12.39,22.85,34.12,6.580,145.13,25.690,110.56,84.90,...,83.36,37.100,52.850,8.100,116.64,54.25,54.96,51.000,64.79,19.625
2017-03-15,21.300,26.170,12.42,23.74,34.24,6.620,146.48,26.580,111.75,85.45,...,85.24,37.750,53.550,8.730,116.95,54.73,55.00,51.920,65.13,19.550
2017-03-16,21.300,26.030,12.43,23.58,34.23,6.710,147.82,26.830,111.65,85.85,...,85.15,37.950,54.250,9.180,116.98,54.72,55.17,52.440,65.24,19.550
2017-03-17,21.600,25.990,12.45,23.78,34.23,6.710,148.79,27.360,112.31,85.45,...,84.72,37.350,54.150,9.560,115.81,54.46,55.27,51.410,65.04,19.575
2017-03-20,21.500,26.110,12.47,23.74,34.28,6.690,148.75,27.250,112.55,86.20,...,84.30,37.650,53.700,9.585,114.87,54.16,55.48,51.550,64.70,19.550
2017-03-21,21.050,25.910,12.48,23.53,33.88,6.550,145.77,27.050,110.90,83.75,...,83.76,37.150,51.750,9.520,111.10,52.60,54.89,49.510,64.42,19.600
2017-03-22,20.800,25.670,12.47,23.76,34.10,6.440,145.69,27.590,110.99,84.95,...,83.59,37.200,51.300,9.690,111.72,52.61,54.99,50.630,64.03,19.550
2017-03-23,21.300,26.670,12.48,23.64,33.96,6.470,146.55,27.710,111.42,85.20,...,83.74,37.500,51.700,9.570,111.89,52.90,55.13,50.670,64.09,19.600
2017-03-24,21.100,26.620,12.52,23.61,34.08,6.440,146.57,28.360,110.89,85.10,...,83.67,37.250,51.450,10.110,111.77,52.99,55.18,50.670,63.64,19.600
2017-03-27,21.150,26.600,12.52,23.67,33.99,6.490,146.52,28.600,110.79,85.85,...,84.00,37.900,49.650,9.870,111.80,53.31,54.59,50.490,63.22,19.600
2017-03-28,21.050,26.700,12.46,23.51,34.02,6.530,147.13,28.880,111.69,85.50,...,84.00,37.800,49.150,10.130,112.87,53.49,54.43,50.880,62.77,19.575
2017-03-29,21.100,26.420,12.43,23.33,33.74,6.460,142.10,27.970,111.13,85.10,...,84.13,37.950,49.800,10.180,113.43,53.58,55.09,51.000,62.94,19.650
2017-03-30,21.050,26.410,12.44,23.73,33.74,7.380,142.48,28.180,111.79,85.85,...,84.87,38.150,49.350,10.125,113.50,54.00,55.90,50.620,63.08,19.650
2017-03-31,20.750,26.450,12.48,23.61,33.80,7.510,142.57,27.340,111.27,86.30,...,86.22,37.950,49.550,9.820,112.68,54.11,56.95,50.260,63.82,19.650
2017-04-03,20.150,25.830,12.51,23.07,33.58,7.360,141.02,27.110,110.27,85.95,...,84.83,37.700,48.700,9.550,111.02,53.44,56.73,49.900,63.21,19.650
2017-04-04,20.000,26.020,12.52,22.76,33.41,7.180,139.43,26.480,110.11,87.00,...,84.52,37.700,48.400,9.140,109.82,53.26,56.97,49.360,63.17,19.650
2017-04-05,19.900,25.790,12.47,22.00,33.00,6.970,138.09,25.020,109.05,86.40,...,83.83,37.050,48.050,8.650,108.01,52.61,55.92,48.890,62.33,19.600
2017-04-06,19.950,26.280,12.50,22.07,33.08,7.080,138.30,25.140,109.49,86.70,...,84.20,37.700,49.300,8.950,110.88,53.08,56.36,49.330,63.27,19.650
2017-04-07,20.050,26.410,12.51,21.96,32.96,6.980,137.03,24.880,110.17,85.75,...,84.25,37.500,49.100,9.080,112.20,52.77,56.58,49.520,63.28,19.600
2017-04-10,19.900,26.630,12.53,21.93,33.01,6.900,136.86,24.890,110.06,86.45,...,83.71,37.300,49.500,9.120,112.41,52.64,56.83,49.530,63.39,19.600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-01-17,18.850,25.800,NaN,22.87,41.20,13.480,139.55,21.150,147.61,79.55,...,97.28,26.550,67.300,6.820,154.23,55.27,61.46,73.650,77.74,NaN
2018-01-18,16.675,25.620,NaN,22.04,41.30,13.490,138.00,20.420,145.74,79.50,...,97.50,26.775,68.700,6.710,157.82,54.62,61.21,73.520,78.33,NaN
2018-01-19,16.400,25.580,NaN,21.85,41.29,13.800,138.76,20.680,145.89,79.45,...,97.80,27.000,70.750,6.770,157.22,55.07,61.78,75.010,79.05,NaN
2018-01-22,16.800,25.490,NaN,22.12,41.66,13.760,141.06,20.220,143.19,78.95,...,97.33,26.150,70.800,6.690,153.87,55.00,61.76,75.510,80.18,NaN
2018-01-23,16.800,25.540,NaN,22.01,42.10,14.030,142.59,19.510,142.41,79.00,...,96.76,26.000,70.950,6.200,159.53,55.04,61.85,78.490,78.73,NaN
2018-01-24,16.200,25.390,NaN,21.58,42.17,14.060,142.13,18.980,143.10,78.75,...,95.84,26.225,70.350,5.920,158.28,54.18,60.98,78.130,77.85,NaN
2018-01-25,16.000,25.410,NaN,21.27,41.90,13.660,134.94,18.960,144.47,78.75,...,97.68,26.050,70.150,6.040,157.28,54.14,61.20,80.350,77.80,NaN
2018-01-26,16.250,25.360,NaN,21.42,42.56,13.850,138.24,19.070,146.15,79.15,...,99.00,26.650,70.850,6.130,159.71,54.24,61.10,81.050,77.44,NaN
2018-01-29,16.150,25.040,NaN,21.28,42.85,13.760,138.89,18.560,147.19,79.10,...,99.18,26.100,70.300,6.060,156.72,54.12,60.92,81.740,76.71,NaN
2018-01-30,16.100,25.240,NaN,21.35,42.25,15.080,140.95,18.310,156.31,79.55,...,99.80,28.300,69.100,6.040,154.43,53.42,61.44,81.490,75.77,NaN
2018-01-31,16.000,25.300,NaN,21.28,41.54,15.030,144.54,17.960,159.38,78.05,...,99.46,28.500,69.700,5.940,157.87,58.99,61.06,80.670,75.62,NaN
2018-02-01,16.200,25.790,NaN,21.91,41.70,14.820,145.03,17.990,157.68,78.45,...,99.12,28.425,68.550,6.210,159.61,58.49,62.00,79.860,75.88,NaN
2018-02-02,16.300,25.475,NaN,22.07,40.93,14.300,144.13,17.580,155.90,77.70,...,103.87,27.950,68.000,5.950,155.18,57.31,61.23,78.460,74.89,NaN
2018-02-05,16.000,24.175,NaN,21.04,39.09,13.520,136.68,16.805,148.20,76.75,...,101.06,27.000,66.200,5.665,153.54,55.46,58.69,77.165,71.13,NaN
2018-02-06,16.100,24.080,NaN,22.70,40.17,13.770,139.73,18.030,148.64,78.45,...,102.76,27.050,67.400,6.830,156.56,56.31,58.94,78.770,70.87,NaN
2018-02-07,16.250,24.430,NaN,22.29,40.34,11.640,141.39,17.830,152.79,77.80,...,102.63,27.000,57.050,6.690,156.01,56.18,59.20,78.500,71.51,NaN
2018-02-08,15.950,23.450,NaN,22.34,38.73,10.760,137.25,17.540,149.84,75.85,...,98.74,27.000,55.775,6.800,151.32,54.02,58.03,67.460,70.80,NaN
2018-02-09,16.050,23.155,NaN,22.25,39.51,10.520,138.61,17.680,153.02,77.60,...,99.13,26.900,58.950,6.710,153.87,54.88,56.51,70.540,66.77,NaN
2018-02-12,16.350,24.670,NaN,22.39,40.60,11.130,140.15,17.590,152.79,77.55,...,101.30,27.100,59.000,6.410,155.25,55.26,57.14,70.040,68.36,NaN
2018-02-13,16.400,24.750,NaN,22.67,41.23,11.650,142.43,17.640,153.02,76.50,...,101.94,26.850,59.050,6.600,156.89,55.80,56.91,70.370,67.85,NaN
2018-02-14,16.300,24.770,NaN,23.20,42.09,12.100,143.50,18.220,154.97,79.65,...,105.02,26.850,60.750,6.680,158.37,56.46,57.42,72.060,68.28,NaN
2018-02-15,16.500,25.910,NaN,23.17,44.08,12.190,145.39,18.200,156.23,80.50,...,106.13,27.000,61.800,6.790,160.59,57.14,59.14,75.290,69.93,NaN
2018-02-16,16.250,25.420,NaN,23.23,44.33,12.050,145.03,17.900,156.66,79.35,...,105.91,27.250,61.300,6.870,162.08,56.23,59.78,74.040,72.10,NaN
2018-02-20,16.400,24.920,NaN,23.04,44.06,12.200,143.04,18.120,157.01,76.90,...,105.75,26.650,60.200,6.900,162.92,55.58,59.54,55.280,70.75,NaN
2018-02-21,16.275,24.680,NaN,23.16,43.31,11.960,144.66,18.320,158.17,76.60,...,104.99,26.750,58.700,6.870,164.40,55.10,59.85,56.680,70.93,NaN
2018-02-22,15.800,24.900,NaN,23.00,42.94,11.650,143.87,17.980,157.99,70.30,...,104.73,26.350,58.700,6.830,161.98,54.47,57.71,56.610,70.06,NaN
2018-02-23,15.700,25.600,NaN,23.34,44.00,11.760,147.33,18.280,158.80,75.70,...,106.73,26.900,58.700,7.050,165.54,54.72,59.72,57.000,71.33,NaN
2018-02-26,15.800,26.300,NaN,23.70,45.36,11.980,151.03,18.290,159.54,75.45,...,106.82,27.150,59.800,7.210,169.32,56.15,59.13,59.290,71.78,NaN
2018-02-27,15.350,25.590,NaN,23.65,45.04,11.830,150.84,18.200,159.02,72.10,...,106.62,26.600,58.350,7.150,173.24,55.13,58.50,61.210,71.78,NaN
2018-02-28,15.650,25.500,NaN,23.17,44.78,11.410,148.52,18.000,156.15,71.80,...,106.15,26.550,55.750,7.170,173.37,54.04,58.02,63.600,69.79,NaN

In [233]:
#vlookup a shares1
tickers_quandl=p['ticker']#base de quandl de 22
xx=pd.DataFrame(tickers_quandl)
m1=list(xmes1)
sh1=list(s1)
junto=[m1,sh1]#union ticker y shares
ss=pd.DataFrame(junto).T
ss.columns=['ticker','shares']

x1s      = pd.merge(xx,ss,on='ticker')
x1s

   ticker  shares
0    ADTN   40924
1    ARRS  118588
2    BRCD  290777
3    CIEN  117806
4    CSCO  227210
5    FFIV   25226
6    FNSR   93207
7     HRS   64250
8    IDCC   28989
9    INFN  122230
10   JNPR  237446
11    MSI   81695
12   NTCT   77432
13   NTGR   27969
14   OCLR  106619
15   PANW   52092
16    PLT   28148
17   SATS   39241
18   UBNT   21550
19   VSAT   43549
20   XXIA   53457

In [175]:
#vlookup a shares2
tickers_quandl=p['ticker']#base de quandl de 22
xx=pd.DataFrame(tickers_quandl)
m2=list(xmes2)
sh2=list(s2)
junto=[m2,sh2]#union ticker y shares
ss=pd.DataFrame(junto).T
ss.columns=['ticker','shares']

x2s      = pd.merge(xx,ss,on='ticker')

In [176]:
#vlookup a shares3
tickers_quandl=p['ticker']#base de quandl de 22
xx=pd.DataFrame(tickers_quandl)
m3=list(xmes3)
sh3=list(s3)
junto=[m3,sh3]#union ticker y shares
ss=pd.DataFrame(junto).T
ss.columns=['ticker','shares']

x3s      = pd.merge(xx,ss,on='ticker')

In [177]:
#vlookup a shares4
tickers_quandl=p['ticker']#base de quandl de 22
xx=pd.DataFrame(tickers_quandl)
m4=list(xmes4)
sh4=list(s4)
junto=[m4,sh4]#union ticker y shares
ss=pd.DataFrame(junto).T
ss.columns=['ticker','shares']

x4s      = pd.merge(xx,ss,on='ticker')

In [178]:
#vlookup a shares5
tickers_quandl=p['ticker']#base de quandl de 22
xx=pd.DataFrame(tickers_quandl)
m5=list(xmes5)
sh5=list(s5)
junto=[m5,sh5]#union ticker y shares
ss=pd.DataFrame(junto).T
ss.columns=['ticker','shares']

x5s      = pd.merge(xx,ss,on='ticker')

In [179]:
#vlookup a shares6
tickers_quandl=p['ticker']#base de quandl de 22
xx=pd.DataFrame(tickers_quandl)
m6=list(xmes6)
sh6=list(s6)
junto=[m6,sh6]#union ticker y shares
ss=pd.DataFrame(junto).T
ss.columns=['ticker','shares']

x6s      = pd.merge(xx,ss,on='ticker')

In [180]:
#vlookup a shares7
tickers_quandl=p['ticker']#base de quandl de 22
xx=pd.DataFrame(tickers_quandl)
m7=list(xmes7)
sh7=list(s7)
junto=[m7,sh7]#union ticker y shares
ss=pd.DataFrame(junto).T
ss.columns=['ticker','shares']

x7s      = pd.merge(xx,ss,on='ticker')

In [181]:
#vlookup a shares8
tickers_quandl=p['ticker']#base de quandl de 22
xx=pd.DataFrame(tickers_quandl)
m8=list(xmes8)
sh8=list(s8)
junto=[m8,sh8]#union ticker y shares
ss=pd.DataFrame(junto).T
ss.columns=['ticker','shares']

x8s      = pd.merge(xx,ss,on='ticker')

In [182]:
#vlookup a shares9
tickers_quandl=p['ticker']#base de quandl de 22
xx=pd.DataFrame(tickers_quandl)
m9=list(xmes9)
sh9=list(s9)
junto=[m9,sh9]#union ticker y shares
ss=pd.DataFrame(junto).T
ss.columns=['ticker','shares']

x9s      = pd.merge(xx,ss,on='ticker')

In [183]:
#vlookup a shares10
tickers_quandl=p['ticker']#base de quandl de 22
xx=pd.DataFrame(tickers_quandl)
m10=list(xmes10)
sh10=list(s10)
junto=[m10,sh10]#union ticker y shares
ss=pd.DataFrame(junto).T
ss.columns=['ticker','shares']

x10s      = pd.merge(xx,ss,on='ticker')

In [184]:
#vlookup a shares11
tickers_quandl=p['ticker']#base de quandl de 22
xx=pd.DataFrame(tickers_quandl)
m11=list(xmes11)
sh11=list(s11)
junto=[m11,sh11]#union ticker y shares
ss=pd.DataFrame(junto).T
ss.columns=['ticker','shares']

x11s      = pd.merge(xx,ss,on='ticker')

In [185]:
#vlookup a shares12
tickers_quandl=p['ticker']#base de quandl de 22
xx=pd.DataFrame(tickers_quandl)
m12=list(xmes12)
sh12=list(s12)
junto=[m12,sh12]#union ticker y shares
ss=pd.DataFrame(junto).T
ss.columns=['ticker','shares']

x12s      = pd.merge(xx,ss,on='ticker')

In [186]:
#vlookup a shares13
tickers_quandl=p['ticker']#base de quandl de 22
xx=pd.DataFrame(tickers_quandl)
m13=list(xmes13)
sh13=list(s13)
junto=[m13,sh13]#union ticker y shares
ss=pd.DataFrame(junto).T
ss.columns=['ticker','shares']

x13s      = pd.merge(xx,ss,on='ticker')

#### Se separan los datos de quandl en meses

In [218]:
# Se crean las fechas con la librería datetime
b=historic_prices
fecha_1 = dt.datetime(2017, 2, 28)
fecha_2 = dt.datetime(2017, 3, 28)
fecha_3 = dt.datetime(2017, 4, 28)
fecha_4 = dt.datetime(2017, 5, 30)
fecha_5 = dt.datetime(2017, 6, 28)
fecha_6 = dt.datetime(2017, 7, 28)
fecha_7 = dt.datetime(2017, 8, 28)
fecha_8 = dt.datetime(2017, 9, 28)
fecha_9 = dt.datetime(2017, 10, 30)
fecha_10 = dt.datetime(2017, 11, 28)
fecha_11 = dt.datetime(2017, 12, 28)
fecha_12 = dt.datetime(2018, 1, 29)
fecha_13 = dt.datetime(2018, 2, 28)
# Filtro por fecha
b1=b.loc[fecha_1: fecha_2]
b2=b.loc[fecha_2:fecha_3]
b3=b.loc[fecha_3:fecha_4]
b4=b.loc[fecha_4:fecha_5]
b5=b.loc[fecha_5:fecha_6]
b6=b.loc[fecha_6:fecha_7]
b7=b.loc[fecha_7:fecha_8]
b8=b.loc[fecha_8:fecha_9]
b9=b.loc[fecha_9:fecha_10]
b10=b.loc[fecha_10:fecha_11]
b11=b.loc[fecha_11:fecha_12]
b12=b.loc[fecha_12:fecha_13]
#SE VUELVE A TRANSPONER
m1q=b1.T
m2q=b2.T
m3q=b3.T
m4q=b4.T
m5q=b5.T
m6q=b6.T
m7q=b7.T
m8q=b8.T
m9q=b9.T
m10q=b10.T
m11q=b11.T
m12q=b12.T

In [268]:
sum([(ticker in ts1) for ticker in b1.iloc[:0]])
t1=m1q.iloc[[(ticker in ts1) for ticker in b1.iloc[:0]]]
t1=t1.reset_index(level=[0,0])
tt1=t1.iloc[:,1:]
sh1=x1s["shares"]
tt1.mul(sh1,axis=0)

date,2017-02-28 00:00:00,2017-03-01 00:00:00,2017-03-02 00:00:00,2017-03-03 00:00:00,2017-03-06 00:00:00,2017-03-07 00:00:00,2017-03-08 00:00:00,2017-03-09 00:00:00,2017-03-10 00:00:00,2017-03-13 00:00:00,...,2017-03-15 00:00:00,2017-03-16 00:00:00,2017-03-17 00:00:00,2017-03-20 00:00:00,2017-03-21 00:00:00,2017-03-22 00:00:00,2017-03-23 00:00:00,2017-03-24 00:00:00,2017-03-27 00:00:00,2017-03-28 00:00:00
0,865543,894189,883958,881912,883958,877820,869635,865543,869635,867589,...,871681,871681,883958,879866,861450,851219,871681,863496,865543,861450
1,3.05957e+06,3.07736e+06,3.00739e+06,2.97656e+06,2.97774e+06,2.96351e+06,2.95996e+06,2.973e+06,3.00976e+06,2.96233e+06,...,3.10345e+06,3.08685e+06,3.0821e+06,3.09633e+06,3.07262e+06,3.04415e+06,3.16274e+06,3.15681e+06,3.15444e+06,3.1663e+06
2,3.57946e+06,3.5911e+06,3.59691e+06,3.5911e+06,3.5911e+06,3.5911e+06,3.594e+06,3.5911e+06,3.60273e+06,3.59982e+06,...,3.61145e+06,3.61436e+06,3.62017e+06,3.62599e+06,3.6289e+06,3.62599e+06,3.6289e+06,3.64053e+06,3.64053e+06,3.62308e+06
3,3.10301e+06,3.11126e+06,3.1089e+06,3.07474e+06,3.03939e+06,3.08298e+06,2.82381e+06,2.79082e+06,2.78729e+06,2.74135e+06,...,2.79671e+06,2.77787e+06,2.80143e+06,2.79671e+06,2.77198e+06,2.79907e+06,2.78493e+06,2.7814e+06,2.78847e+06,2.76962e+06
4,7.76604e+06,7.82511e+06,7.81375e+06,7.79103e+06,7.76831e+06,7.77058e+06,7.72968e+06,7.74104e+06,7.78421e+06,7.74786e+06,...,7.77967e+06,7.7774e+06,7.7774e+06,7.78876e+06,7.69787e+06,7.74786e+06,7.71605e+06,7.74332e+06,7.72287e+06,7.72968e+06
5,3.61413e+06,3.65979e+06,3.58461e+06,3.60404e+06,3.56544e+06,3.62245e+06,3.60429e+06,3.62649e+06,3.68123e+06,3.69031e+06,...,3.6951e+06,3.72891e+06,3.75338e+06,3.75237e+06,3.67719e+06,3.67518e+06,3.69687e+06,3.69737e+06,3.69611e+06,3.7115e+06
6,3.12057e+06,3.20352e+06,3.11498e+06,3.21378e+06,3.25945e+06,3.23335e+06,3.20166e+06,3.25292e+06,2.51472e+06,2.49329e+06,...,2.47744e+06,2.50074e+06,2.55014e+06,2.53989e+06,2.52125e+06,2.57158e+06,2.58277e+06,2.64335e+06,2.66572e+06,2.69182e+06
7,7.06108e+06,7.12597e+06,7.08678e+06,7.09706e+06,7.06108e+06,7.05015e+06,7.06943e+06,7.06686e+06,7.10734e+06,7.11826e+06,...,7.17994e+06,7.17351e+06,7.21592e+06,7.23134e+06,7.12532e+06,7.13111e+06,7.15874e+06,7.12468e+06,7.11826e+06,7.17608e+06
8,2.43653e+06,2.4974e+06,2.42203e+06,2.44667e+06,2.43218e+06,2.43797e+06,2.43363e+06,2.45827e+06,2.44377e+06,2.43508e+06,...,2.47711e+06,2.48871e+06,2.47711e+06,2.49885e+06,2.42783e+06,2.46262e+06,2.46986e+06,2.46696e+06,2.48871e+06,2.47856e+06
9,1.3262e+06,1.33475e+06,1.31642e+06,1.33108e+06,1.32253e+06,1.30664e+06,1.30053e+06,1.28219e+06,1.28097e+06,1.26508e+06,...,1.26508e+06,1.36898e+06,1.36042e+06,1.33353e+06,1.28342e+06,1.30664e+06,1.32742e+06,1.3262e+06,1.32986e+06,1.29442e+06
10,6.64849e+06,6.70785e+06,6.71022e+06,6.71735e+06,6.68648e+06,6.6841e+06,6.57725e+06,6.60337e+06,6.65086e+06,6.64136e+06,...,6.71972e+06,6.77196e+06,6.80995e+06,6.69123e+06,6.60337e+06,6.65086e+06,6.6105e+06,6.60575e+06,6.58913e+06,6.59862e+06
11,6.45145e+06,6.53397e+06,6.53723e+06,6.58053e+06,6.53315e+06,6.50782e+06,6.55194e+06,6.64752e+06,6.70716e+06,6.6704e+06,...,6.96368e+06,6.95633e+06,6.9212e+06,6.88689e+06,6.84277e+06,6.82889e+06,6.84114e+06,6.83542e+06,6.86238e+06,6.86238e+06
12,2.86111e+06,2.89209e+06,2.85337e+06,2.84175e+06,2.86111e+06,2.85337e+06,2.85337e+06,2.82627e+06,2.84563e+06,2.85337e+06,...,2.92306e+06,2.93854e+06,2.89209e+06,2.91531e+06,2.8766e+06,2.88047e+06,2.9037e+06,2.88434e+06,2.93467e+06,2.92693e+06
13,1.5327e+06,1.54529e+06,1.52291e+06,1.52571e+06,1.49774e+06,1.48935e+06,1.48236e+06,1.48515e+06,1.49215e+06,1.49914e+06,...,1.49774e+06,1.51732e+06,1.51452e+06,1.50194e+06,1.4474e+06,1.43481e+06,1.446e+06,1.43901e+06,1.38866e+06,1.37468e+06
14,906262,939313,946777,1.02354e+06,1.01181e+06,1.00862e+06,976630,984093,911592,896666,...,930784,978762,1.01928e+06,1.02194e+06,1.01501e+06,1.03314e+06,1.02034e+06,1.07792e+06,1.05233e+06,1.08005e+06
15,7.91277e+06,6.00152e+06,6.0682e+06,6.01923e+06,5.97235e+06,5.95151e+06,5.96714e+06,5.99318e+06,6.1927e+06,6.13019e+06,...,6.09216e+06,6.09372e+06,6.03277e+06,5.98381e+06,5.78742e+06,5.81972e+06,5.82857e+06,5.82232e+06,5.82389e+06,5.87962e+06
16,1.50761e+06,1.53125e+06,1.52281e+06,1.50873e+06,1.48987e+06,1.48565e+06,1.48706e+06,1.49494e+06,1.52337e+06,1.51324e+06,...,1.54054e+06,1.54026e+06,1.53294e+06,1.5245e+06,1.48058e+06,1.48087e+06,1.48903e+06,1.49156e+06,1.50057e+06,1.50564e+06
17,2.09037e+06,2.12215e+06,2.11862e+06,2.10371e+06,2.06211e+06,2.06094e+06,2.09429e+06,2.09272e+06,2.10803e+06,2.12058e+06,...,2.15826e+06,2.16493e+06,2.16885e+06,2.17709e+06,2.15394e+06,2.15786e+06,2.16336e+06,2.16532e+06,2.14217e+06,2.13589e+06
18,1.05897e+06,1.06866e+06,1.03354e+06,1.03311e+06,1.04086e+06,1.04884e+06,1.05724e+06,1.06716e+06,1.07448e+06,1.10228e+06,...,1.11888e+06,1.13008e+06,1.10789e+06,1.1109e+06,1.06694e+06,1.09108e+06,1.09194e+06,1.09194e+06,1.08806e+06,1.09646e+06
19,2.99791e+06,3.00575e+06,2.99182e+06,2.99574e+06,2.99007e+06,2.87772e+06,2.82589e+06,2.86596e+06,2.85638e+06,2.84375e+06,...,2.83635e+06,2.84114e+06,2.83243e+06,2.81762e+06,2.80543e+06,2.78844e+06,2.79106e+06,2.77146e+06,2.75317e+06,2.73357e+06
20,1.04776e+06,1.04776e+06,1.04508e+06,1.04776e+06,1.04241e+06,1.04508e+06,1.04241e+06,1.04508e+06,1.04508e+06,1.04241e+06,...,1.04508e+06,1.04508e+06,1.04642e+06,1.04508e+06,1.04776e+06,1.04508e+06,1.04776e+06,1.04776e+06,1.04776e+06,1.04642e+06

## Escenarios #1-12

#### Real

##### 13 meses

### Rebalanceo propuesto

Capital:800,000 USD, escogeremos las 8 acciones con mejor rendimiento y invertiremos el capital proporcionalmente
Habra 80,000 acciones en circulación