# Reto para laboratorio 1: Administración activa Vs Administración pasiva del capital.

    
## Equipo E

### Integrantes:

Ana Paula Rangel Ochoa

Paulina Rodriguez Guerrero

José Luis Suárez de Alba

Diego Velasco Sanchez



### Situación:

   Acabas de entrar a trabajar a una operadora de fondos de inversión como analista financiero dentro de la mesa de análisis del mercado de renta variable. En la junta trimestral se plantea la posibilidad de crear un fondo propio con exposición al mercado de valores de USA tratando de replicar a los ETFs conocidos como ishares que la empresa BlackRock ofrece.

   La idea es replicar un ETF con posiciones en directo. Te han asignado la tarea de hacer un ejercicio simple de replicar la construcción de un portafolio de inversión y un criterio de rebalanceo lo más parecido a un ETF de ishares que tu selecciones. Esto con la finalidad de comparar los resultados de haber rebanceado periódicamente el portafolio, ó, no haberlo hecho y continuar todo un año con las mismas posiciones.
    
### Caracteristicas:

   Debido a tu formación, te piden que este proceso que construyas sea repetible para cualquier ETF y también incluir 3 medidas de atribución al desempeño, tanto para el caso que el ETF nunca hubiese sido rebalanceado como para los casos donde sí.

   En la mesa de análisis están interesados en conocer el proceso que sigues para adquirir, limpiar, dar formato y utilizar los datos, y a pesar que el equipo senior de análisis está compuesto por personal altamente calificado en temas de economía y finanzas, ellos no saben programar por lo que te piden que incluyas el código utilizado, y que sea de manera ordenada y explicando el sentido de las funciones y paqueterías que requeriste.
   
   * Comparar con 1 año de información: 1.3.17 al 1.3.18.

   * Utilizar un ETF de Ishares para el mercado de renta varialbe de USA.

   * Entregar un Jupyter Notebook con explicación y comentarios en el código.

   * Crear y actualizar continuamente un repositorio en GitHub para el proyecto.
    
    


https://www.quandl.com/search?filters=%5B%22Mutual%20Funds%20%26%20ETFs%22%2C%22Free%22%2C%22United%20States%22%5D

## ETF 

https://www.ishares.com/us/products/239774/ishares-core-sp-smallcap-etf

Obtener los rendimientos mensuales sacar la desviación estándar para tener la volatilidad de esta es diaria entonces es la desviación de los rendimientos diarios tenemos 12 meses, pero no se modifican ni el primero ni el ultimo con el peso calculamos la varianza desviación de cada mes usando la desviación de los diarios
1.	Descargar los datos mensuales de un año.
2.	Rendimientos diarios y la desv estandar y el sharp (tasa libre de riesgo usa, treasury hold).
3.	Net asset value diario es l NAV (el precio diario de tu ETF) este sirve para sacar la volatilidad y ver si hubo picos si no hay está muy tranquilo (rendimientos diarios por los pesos mensuales para sacar el diario) --> de los 13 archivos.
4.	Hacer 11 escenarios diferentes para ver cual habría sido la mejor situación.
 
Escenarios
 * Todo el año con los primeros pesos.
 * Rebalancear igual que el ETF.
 * Rebalancear cada mes.

### Importar librerias

In [1]:
#import quandl
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt

### Descargar precios diarios de Quandl

In [45]:
# The Tiker
etf_w1=pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/mes1.csv',
                   skiprows = [0,1,2,3,4,5,6,7,8,9], index_col = ['Ticker'], delim_whitespace=False, thousands=',')
etf_w1 = etf_w1.drop(columns = ['Name', 'Asset Class', "Market Value", 'Notional Value', 'Sector', 'SEDOL', 'ISIN', 'Exchange'])

tiker=etf_w1[:-2]
tiker

        Weight (%)   Price     Shares
Ticker
TTWO          0.79   56.98  4099837.0
COHR          0.61  182.58   994103.0
TCBI          0.60   89.15  1990641.0
MASI          0.55   90.36  1793752.0
WTFC          0.52   73.70  2102209.0
...            ...     ...        ...
FNBC          0.01    4.45   736693.0
MSFUT         0.01  100.00  2948000.0
TDW           0.01    1.36  1911199.0
CRAY          0.00   20.85     5122.0
GRB           0.00    0.01   349019.0

[605 rows x 3 columns]

In [ ]:
#Daily stock prices
quandl.ApiConfig.api_key = 'wzJyeSB_seJSjER5FGSA'
quandl_data = quandl.get_table('WIKI/PRICES',qopts = { 'columns': ['ticker', 'date', "Open",'adj_close'] }, 
                        date = { 'gte': '2017-02-28', 'lte': '2018-02-28' }, 
                        paginate=True)
quandl_data.head()

In [13]:
#Table to work in the data 
daily_data = quandl_data.set_index('date')
daily_data = daily_data.pivot(columns='ticker')
daily_data.dropna()
daily_data

             open                                                       \
ticker          A     AA    AAL     AAMC    AAN   AAOI   AAON      AAP
date
2017-02-28  51.52  34.73  46.32  69.6000  27.16  47.56  34.00  155.640
2017-03-01  51.62  35.93  46.79  71.3000  27.50  46.42  34.10  158.590
2017-03-02  52.04  37.64  46.67  74.4500  27.72  46.97  35.20  156.680
2017-03-03  51.38  36.06  45.85  79.0500  28.06  50.00  35.50  157.300
2017-03-06  51.64  36.80  46.41  85.6500  27.83  52.75  35.00  155.350
2017-03-07  51.06  36.81  45.02  80.4000  27.40  51.31  34.60  154.260
2017-03-08  51.26  35.90  44.79  77.9500  27.27  54.85  35.00  153.510
2017-03-09  51.42  36.07  44.50  74.1500  27.53  52.44  34.85  154.970
2017-03-10  51.69  35.90  43.46  75.9000  27.44  52.01  35.15  155.520
2017-03-13  52.14  35.21  43.73  77.0000  28.07  51.15  35.30  152.760
2017-03-14  52.24  34.45  42.06  74.6000  28.40  50.57  35.10  154.300
2017-03-15  53.31  34.40  40.50  74.9500  28.91  48.27  35.60  153.580
2017-03-16  53.43  35.66  42.18  74.9000  29.55  47.80  36.20  152.740
2017-03-17  53.06  35.57  42.00  73.4500  30.05  48.00  36.60  152.420
2017-03-20  53.33  34.90  42.18  63.3500  30.05  51.37  36.85  152.950
2017-03-21  53.28  34.90  41.88  60.4500  29.44  50.48  36.95  152.540
2017-03-22  52.79  33.35  39.78  59.5500  28.23  48.02  35.75  151.600
2017-03-23  53.04  33.41  40.70  57.6500  28.58  52.90  35.60  151.270
2017-03-24  54.05  33.61  41.69  54.0000  28.62  51.78  36.50  150.780
2017-03-27  52.60  31.74  41.07  58.0900  28.12  53.84  35.70  148.500
2017-03-28  53.29  32.50  41.83  60.7500  28.72  60.02  34.90  147.190
2017-03-29  53.26  32.91  42.69  67.9000  28.99  59.18  34.70  148.380
2017-03-30  53.06  33.00  41.85  67.4000  29.19  58.07  35.00  149.240
2017-03-31  53.07  34.06  42.37  73.0135  29.82  55.35  35.20  148.260
2017-04-03  52.90  34.62  42.33  75.2000  29.75  56.92  35.30  148.400
2017-04-04  53.20  34.03  42.09  71.8500  29.25  53.21  34.30  144.930
2017-04-05  52.72  34.79  41.15  67.4000  29.58  51.30  34.90  143.760
2017-04-06  52.70  33.85  41.40  65.9500  29.79  44.76  34.25  143.750
2017-04-07  53.07  33.25  41.53  64.9500  30.03  46.00  34.30  142.510
2017-04-10  52.90  33.66  41.81  66.7000  30.77  45.32  34.30  141.880
...           ...    ...    ...      ...    ...    ...    ...      ...
2018-01-17  71.72  56.03  58.31  71.5010  41.48  34.00  36.30  114.740
2018-01-18  72.20  53.67  58.00  71.5010  40.42  33.73  36.25  115.670
2018-01-19  72.48  52.86  58.59      NaN  40.60  34.87  36.10  116.240
2018-01-22  73.17  52.80  57.99  69.4000  42.08  34.98  37.20  116.880
2018-01-23  74.05  52.34  57.74  67.7000  42.30  34.42  36.30  117.740
2018-01-24  73.66  52.90  54.35  69.6500  41.19  34.92  36.20  119.260
2018-01-25  74.17  53.74  54.00  69.6647  41.80  34.32  36.10  121.120
2018-01-26  74.30  53.55  53.65  67.9000  41.86  34.91  36.20  123.340
2018-01-29  74.48  53.89  52.79  68.1500  42.50  34.63  36.10  123.520
2018-01-30  73.99  53.67  52.45  66.9500  41.39  32.74  36.00  121.570
2018-01-31  73.77  52.75  53.08  69.0241  42.13  33.01  36.20  119.860
2018-02-01  73.18  51.41  54.00  66.6000  40.76  32.50  36.25  116.240
2018-02-02  72.32  52.00  53.49  67.7000  40.53  33.61  35.95  115.920
2018-02-05  70.86  48.61  51.99  67.7000  38.71  32.50  35.40  113.050
2018-02-06  66.96  47.44  49.32  67.7000  36.67  32.00  33.40  108.280
2018-02-07  68.19  49.23  50.91  67.7000  38.37  33.86  33.55  112.090
2018-02-08  68.09  47.81  51.44  69.6500  39.49  31.30  33.70  109.930
2018-02-09  66.40  46.54  49.70  67.6000  38.67  32.18  33.45  110.390
2018-02-12  67.46  46.05  48.79  67.2000  39.53  30.77  33.30  109.795
2018-02-13  67.97  46.39  49.70  67.2000  39.41  29.30  33.45  109.170
2018-02-14  67.80  46.71  50.24  65.3000  39.04  29.10  33.55  105.500
2018-02-15  74.94  48.99  51.45  64.0000  45.92  31.28  34.60  109.230
2018-02-16  71.97  47.50  51.80      NaN  44.22  31.63  34.45  108.720
2018-02-20  71.50  46.84  51.23  64.2000  43.50  32.20  34.85  107.400
2018-02-21  71.12  48.21  51.96      NaN  42.40  33.66  34.40  116.960
2018-02-22  71.72  48.01  53.24  67.0000  43.89  28.66  34.65  115.100
2018-02-23  71.15  48.06  53.30  67.0000  44.43  27.00  35.10  111.150
2018-02-26  71.00  47.42  53.99  68.0000  45.15  28.06  35.40  116.500
2018-02-27  70.75  46.50  54.89  68.0000  45.47  28.00  35.65  113.260
2018-02-28  69.42  46.25  54.41  68.0000  46.12  27.57  38.65  110.710

                            ...    adj_close                                  \
ticker         AAPL    AAT  ...         ZEUS   ZGNX       ZION   ZIOP   ZIXI
date                        ...
2017-02-28  137.080  44.48  ...    24.124440  10.35  44.692993  6.350  5.010
2017-03-01  137.890  43.97  ...    25.880395  10.35  46.315478  6.370  5.140
2017-03-02  140.000  43.56  ...    23.785221  10.10  44.752716  6.310  5.190
2017-03-03  138.780  43.24  ...    23.406094   9.90  45.150872  6.480  5.150
2017-03-06  139.365  42.84  ...    21.729954   9.65  45.121011  6.510  5.060
2017-03-07  139.060  42.61  ...    20.612528   9.40  45.071241  6.360  5.110
2017-03-08  138.950  42.03  ...    20.013906   9.40  45.051333  6.380  5.080
2017-03-09  138.740  41.58  ...    19.275607   9.55  45.071241  6.390  5.100
2017-03-10  139.250  41.23  ...    19.175837  10.80  44.702947  6.890  5.020
2017-03-13  138.850  41.52  ...    19.944067  10.25  44.822394  6.470  4.870
2017-03-14  139.300  41.42  ...    20.782137  10.20  44.284883  6.280  4.870
2017-03-15  139.410  41.92  ...    20.911838  10.70  43.866820  6.410  4.830
2017-03-16  140.720  42.62  ...    21.719977  11.00  44.155483  6.490  5.230
2017-03-17  141.000  42.91  ...    22.198874  10.70  43.558249  6.350  5.070
2017-03-20  140.400  42.45  ...    20.961724  10.55  42.990877  6.240  4.940
2017-03-21  142.110  42.24  ...    19.465170  10.35  40.651711  5.870  4.760
2017-03-22  139.845  41.76  ...    19.175837  10.35  40.542218  5.810  4.680
2017-03-23  141.260  41.13  ...    19.285584  10.40  40.701481  5.870  4.620
2017-03-24  141.500  42.05  ...    18.671997  10.45  40.721389  5.880  4.630
2017-03-27  139.390  41.61  ...    18.756802  10.90  40.591988  6.690  4.680
2017-03-28  140.910  41.41  ...    18.726871  10.75  41.109591  6.620  4.690
2017-03-29  143.680  41.32  ...    18.637077  11.25  41.129498  6.690  4.680
2017-03-30  144.190  41.24  ...    18.557261  10.75  42.184611  6.450  4.740
2017-03-31  143.720  41.49  ...    18.517353  10.85  41.806363  6.340  4.810
2017-04-03  143.710  41.79  ...    18.587192  10.65  41.577424  6.300  4.760
2017-04-04  143.250  41.79  ...    19.195791  10.30  41.467931  6.320  4.780
2017-04-05  144.220  41.84  ...    18.277905  10.30  40.860743  6.260  4.770
2017-04-06  144.290  41.43  ...    18.168157  10.45  41.308668  6.130  4.810
2017-04-07  143.730  42.01  ...    19.295561  10.70  41.328576  6.240  4.940
2017-04-10  143.600  41.86  ...    18.587192  10.60  40.741296  6.590  5.050
...             ...    ...  ...          ...    ...        ...    ...    ...
2018-01-17  176.150  36.18  ...    24.580000  35.45  53.320000  4.350  4.520
2018-01-18  179.370  36.27  ...    23.930000  35.30  52.860000  4.360  4.520
2018-01-19  178.610  35.73  ...    24.060000  35.95  53.730000  4.280  4.650
2018-01-22  177.300  36.22  ...    24.430000  37.60  54.160000  5.140  4.470
2018-01-23  177.300  36.40  ...    24.310000  38.15  54.170000  4.890  4.550
2018-01-24  177.250  36.61  ...    24.480000  37.40  53.740000  4.610  4.350
2018-01-25  174.505  36.24  ...    25.120000  37.05  53.020000  4.720  4.350
2018-01-26  172.000  36.25  ...    24.810000  37.95  54.020000  4.610  4.280
2018-01-29  170.160  35.63  ...    24.160000  37.95  54.190000  4.460  4.270
2018-01-30  165.525  34.90  ...    23.370000  37.20  53.930000  4.200  4.280
2018-01-31  166.870  34.99  ...    23.310000  36.30  54.030000  3.945  4.230
2018-02-01  167.165  35.25  ...    23.610000  38.00  54.980000  3.820  4.220
2018-02-02  166.000  34.35  ...    22.350000  37.00  54.160000  3.700  4.050
2018-02-05  159.100  34.18  ...    21.339900  35.80  51.920000  3.470  3.970
2018-02-06  154.830  32.76  ...    21.340000  38.70  52.520000  4.010  4.000
2018-02-07  163.085  32.83  ...    21.590000  38.80  54.020000  4.110  4.080
2018-02-08  160.290  32.82  ...    21.600000  37.45  50.710000  3.870  4.065
2018-02-09  157.070  32.17  ...    21.770000  37.80  51.620000  3.890  4.140
2018-02-12  158.500  32.96  ...    22.580000  38.10  52.060000  3.940  4.030
2018-02-13  161.950  32.54  ...    23.350000  38.05  51.960000  3.920  4.050
2018-02-14  163.045  32.17  ...    23.800000  38.95  54.510000  3.940  4.090
2018-02-15  169.790  32.07  ...    23.820000  41.35  54.750000  3.880  4.160
2018-02-16  172.360  32.12  ...    24.470000  41.25  55.070000  3.830  4.160
2018-02-20  172.050  32.46  ...    24.600000  41.85  54.970000  3.680  4.100
2018-02-21  172.830  32.06  ...    24.480000  43.00  55.860000  3.730  4.130
2018-02-22  171.800  32.50  ...    23.330000  43.20  54.720000  3.710  4.100
2018-02-23  173.670  32.79  ...    24.110000  43.45  55.680000  3.870  3.900
2018-02-26  176.350  33.00  ...    23.790000  44.45  56.290000  3.830  4.040
2018-02-27  179.100  32.94  ...    23.540000  44.00  55.740000  3.740  4.050
2018-02-28  179.260  31.87  ...    22.530000  42.40  54.970000  3.730  4.050


ticker        ZLTQ   ZNGA   ZOES        ZTS   ZUMZ
date
2017-02-28  55.360  2.650  17.92  53.113886  20.40
2017-03-01  55.480  2.710  17.88  53.691753  20.00
2017-03-02  55.540  2.740  17.44  53.173666  21.10
2017-03-03  55.680  2.780  17.01  53.223482  20.75
2017-03-06  55.550  2.750  17.38  52.884732  21.15
2017-03-07  55.400  2.740  16.96  52.874769  20.80
2017-03-08  55.520  2.740  17.41  52.805027  21.25
2017-03-09  55.600  2.750  17.02  53.492488  21.00
2017-03-10  55.890  2.820  17.26  53.143776  18.40
2017-03-13  55.615  2.810  16.93  53.362967  17.70
2017-03-14  55.630  2.780  16.67  53.223482  17.65
2017-03-15  55.790  2.840  16.86  54.080318  17.65
2017-03-16  55.630  2.840  17.37  54.229766  17.80
2017-03-17  55.880  2.800  16.66  53.801348  17.95
2017-03-20  55.790  2.800  16.69  54.080318  17.45
2017-03-21  55.530  2.760  17.03  53.193592  17.10
2017-03-22  55.500  2.760  17.08  53.671826  16.75
2017-03-23  55.620  2.810  17.04  53.602084  17.30
2017-03-24  55.800  2.800  17.04  53.651900  17.20
2017-03-27  55.780  2.810  17.35  53.771458  17.35
2017-03-28  55.840  2.820  17.87  53.960759  17.75
2017-03-29  55.690  2.830  18.52  53.622010  18.25
2017-03-30  55.770  2.880  18.32  53.273298  18.40
2017-03-31  55.610  2.850  18.50  53.173666  18.30
2017-04-03  55.660  2.830  17.64  52.974401  17.35
2017-04-04  55.620  2.790  16.96  52.560928  16.75
2017-04-05  55.650  2.780  17.03  52.580894  16.10
2017-04-06  56.440  2.800  17.33  52.580894  16.80
2017-04-07  56.420  2.800  17.09  52.451114  16.80
2017-04-10  56.430  2.790  17.44  52.650776  17.10
...            ...    ...    ...        ...    ...
2018-01-17     NaN  3.800  15.20  76.770000  22.45
2018-01-18     NaN  3.750  15.05  76.330000  22.40
2018-01-19     NaN  3.720  15.52  76.620000  23.10
2018-01-22     NaN  3.730  15.32  77.480000  23.55
2018-01-23     NaN  3.720  15.31  77.590000  22.60
2018-01-24     NaN  3.650  14.87  78.330000  22.40
2018-01-25     NaN  3.690  14.78  79.250000  22.35
2018-01-26     NaN  3.730  14.20  80.090000  22.35
2018-01-29     NaN  3.670  14.37  79.180000  22.35
2018-01-30     NaN  3.600  14.58  78.350000  21.35
2018-01-31     NaN  3.585  14.72  76.730000  20.75
2018-02-01     NaN  3.685  14.47  77.820000  20.85
2018-02-02     NaN  3.610  13.87  76.780000  20.60
2018-02-05     NaN  3.515  13.75  73.830000  20.40
2018-02-06     NaN  3.555  13.60  73.270000  20.55
2018-02-07     NaN  3.690  13.73  73.860000  20.45
2018-02-08     NaN  3.480  13.57  71.510000  20.10
2018-02-09     NaN  3.305  13.43  72.350000  19.30
2018-02-12     NaN  3.420  13.75  73.190000  18.95
2018-02-13     NaN  3.440  13.67  73.240000  19.20
2018-02-14     NaN  3.490  13.84  74.460000  20.25
2018-02-15     NaN  3.570  14.05  78.500000  20.10
2018-02-16     NaN  3.590  13.90  79.730000  20.10
2018-02-20     NaN  3.570  13.71  80.350000  19.30
2018-02-21     NaN  3.560  13.34  80.500000  19.50
2018-02-22     NaN  3.510  14.27  80.760000  19.80
2018-02-23     NaN  3.600  14.78  82.790000  20.25
2018-02-26     NaN  3.610  15.36  83.300000  20.55
2018-02-27     NaN  3.500  15.30  81.670000  19.80
2018-02-28     NaN  3.460  14.88  80.860000  19.70

[253 rows x 5302 columns]

In [ ]:
daily_mean=np.std(daily_data)
daily_std=np.mean(daily_data)

### Archivos mensuales del ETF

In [52]:

def datos_imp(numero,archivo,mes):
    
    datos=[]
    ticker=[]    
    for i in range(numero):   
        nombre=mes+str(i+1)+".csv"
        arch=archivo+nombre
        data=pd.read_csv(arch, skiprows=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], index_col=0)
        data=data.dropna()  
        datos.append(data)
       
        ticker.append(list(datos[i].index))

    return datos,ticker
d,ticker=datos_imp(13, "https://raw.githubusercontent.com/anapaurangel/MyST/master/","mes")
d 


#pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/mes1.csv',
#                   skiprows = [0,1,2,3,4,5,6,7,8,9], index_col = ['Ticker'], delim_whitespace=False, thousands=',')

[                                      Name                  Asset Class  \
 Ticker
 TTWO    TAKE-TWO INTERACTIVE SOFTWARE INC.                       Equity
 COHR                         COHERENT INC.                       Equity
 TCBI         TEXAS CAPITAL BANCSHARES INC.                       Equity
 MASI                          MASIMO CORP.                       Equity
 WTFC              WINTRUST FINANCIAL CORP.                       Equity
 ...                                    ...                          ...
 MSFUT            CASH COLLATERAL MSFUT USD  Cash Collateral and Margins
 TDW                         TIDEWATER INC.                       Equity
 CRAY                             CRAY INC.                       Equity
 GRB               GERBER SCIENTIFIC ESCROW                       Equity
 RTAH7        RUSSELL 2000 EMINI ICE MAR 17                      Futures

         Weight (%)     Price        Shares    Market Value  Notional Value  \
 Ticker
 TTWO          0.79     56.98  4,099,837.00  233,608,712.26  233,608,712.26
 COHR          0.61    182.58    994,103.00  181,503,325.74  181,503,325.74
 TCBI          0.60     89.15  1,990,641.00  177,465,645.15  177,465,645.15
 MASI          0.55     90.36  1,793,752.00  162,083,430.72  162,083,430.72
 WTFC          0.52     73.70  2,102,209.00  154,932,803.30  154,932,803.30
 ...            ...       ...           ...             ...             ...
 MSFUT         0.01    100.00  2,948,000.00    2,948,000.00    2,948,000.00
 TDW           0.01      1.36  1,911,199.00    2,599,230.64    2,599,230.64
 CRAY          0.00     20.85      5,122.00      106,793.70      106,793.70
 GRB           0.00      0.01    349,019.00        3,490.19        3,490.19
 RTAH7         0.00  1,385.00        633.00            0.00   43,835,250.00

                          Sector    SEDOL          ISIN  \
 Ticker
 TTWO     Information Technology  2122117  US8740541094
 COHR     Information Technology  2208374  US1924791031
 TCBI                 Financials  2977209  US88224Q1076
 MASI                Health Care  B1YWR63  US5747951003
 WTFC                 Financials  2425258  US97650W1080
 ...                         ...      ...           ...
 MSFUT   Cash and/or Derivatives        -             -
 TDW                      Energy  2891859  US8864231027
 CRAY     Information Technology  B16NWY7  US2252233042
 GRB      Information Technology  2BVFC92  US37373ESC56
 RTAH7   Cash and/or Derivatives        -             -

                             Exchange
 Ticker
 TTWO                          NASDAQ
 COHR                          NASDAQ
 TCBI                          NASDAQ
 MASI                          NASDAQ
 WTFC                          NASDAQ
 ...                              ...
 MSFUT                              -
 TDW     New York Stock Exchange Inc.
 CRAY                          NASDAQ
 GRB     New York Stock Exchange Inc.
 RTAH7               Ice Futures U.S.

 [606 rows x 11 columns],
                                  Name                  Asset Class  \
 Ticker
 MKSI             MKS INSTRUMENTS INC.                       Equity
 BLKB                   BLACKBAUD INC.                       Equity
 NKTR              NEKTAR THERAPEUTICS                       Equity
 SLCA           US SILICA HOLDINGS INC                       Equity
 MDCO                    MEDICINES CO.                       Equity
 ...                               ...                          ...
 TDW                    TIDEWATER INC.                       Equity
 MSFUT       CASH COLLATERAL MSFUT USD  Cash Collateral and Margins
 ADPT       ADEPTUS HEALTH INC CLASS A                       Equity
 GRB          GERBER SCIENTIFIC ESCROW                       Equity
 RTAM7   RUSSELL 2000 EMINI ICE JUN 17                      Futures

         Weight (%)     Price        Shares    Market Value  Notional Value  \
 Ticker
 MKSI          0.52     68.75  2,261,530.00  155,480,187.50  155,480,187.50
 BLKB          0.51     76.67  1,999,203.00  153,278,894.01  153,278,894.01
 NKTR          0.50     23.47  6,443,421.00  151,227,090.87  151,227,090.87
 SLCA          0.49     47.99  3,068,592.00  147,261,730.08  147,261,730.08
 MDCO          0.49     48.90  3,001,791.00  146,787,579.90  146,787,579.90
 ...            ...       ...           ...             ...             ...
 TDW           0.01      1.15  1,990,715.00    2,289,322.25    2,289,322.25
 MSFUT         0.00    100.00  1,427,000.00    1,427,000.00    1,427,000.00
 ADPT          0.00      1.80    646,850.00    1,164,330.00    1,164,330.00
 GRB           0.00      0.01    349,019.00        3,490.19        3,490.19
 RTAM7         0.00  1,384.40        705.00            0.00   48,800,100.00

                          Sector    SEDOL          ISIN  \
 Ticker
 MKSI     Information Technology  2404871  US55306N1046
 BLKB     Information Technology  2458878  US09227Q1004
 NKTR                Health Care  2454445  US6402681083
 SLCA                     Energy  B7GGNT0  US90346E1038
 MDCO                Health Care  2616773  US5846881051
 ...                         ...      ...           ...
 TDW                      Energy  2891859  US8864231027
 MSFUT   Cash and/or Derivatives        -             -
 ADPT                Health Care  BNBPLY5  US0068551003
 GRB      Information Technology  2BVFC92  US37373ESC56
 RTAM7   Cash and/or Derivatives        -             -

                             Exchange
 Ticker
 MKSI                          NASDAQ
 BLKB                          NASDAQ
 NKTR                          NASDAQ
 SLCA    New York Stock Exchange Inc.
 MDCO                          NASDAQ
 ...                              ...
 TDW     New York Stock Exchange Inc.
 MSFUT                              -
 ADPT    New York Stock Exchange Inc.
 GRB     New York Stock Exchange Inc.
 RTAM7               Ice Futures U.S.

 [606 rows x 11 columns],
                                  Name                  Asset Class  \
 Ticker
 MKSI              MKS INSTRUMENTS INC                       Equity
 BLKB                    BLACKBAUD INC                       Equity
 MDSO           MEDIDATA SOLUTIONS INC                       Equity
 MDCO                        MEDICINES                       Equity
 ALE                        ALLETE INC                       Equity
 ...                               ...                          ...
 FNBC           FIRST NBC BANK HOLDING                       Equity
 TDW                     TIDEWATER INC                       Equity
 MSFUT       CASH COLLATERAL MSFUT USD  Cash Collateral and Margins
 GRB          GERBER SCIENTIFIC ESCROW                       Equity
 RTAM7   RUSSELL 2000 EMINI ICE JUN 17                      Futures

         Weight (%)     Price        Shares    Market Value  Notional Value  \
 Ticker
 MKSI          0.59     78.25  2,261,965.00  176,998,761.25  176,998,761.25
 BLKB          0.53     80.41  1,987,347.00  159,802,572.27  159,802,572.27
 MDSO          0.50     65.43  2,289,873.00  149,826,390.39  149,826,390.39
 MDCO          0.49     49.32  3,001,510.00  148,034,473.20  148,034,473.20
 ALE           0.49     69.91  2,104,529.00  147,127,622.39  147,127,622.39
 ...            ...       ...           ...             ...             ...
 FNBC          0.01      2.65    766,548.00    2,031,352.20    2,031,352.20
 TDW           0.01      0.88  1,943,924.00    1,703,849.39    1,703,849.39
 MSFUT         0.01    100.00  1,649,000.00    1,649,000.00    1,649,000.00
 GRB           0.00      0.01    349,019.00        3,490.19        3,490.19
 RTAM7         0.00  1,398.40        443.00            0.00   30,974,560.00

                          Sector    SEDOL          ISIN  \
 Ticker
 MKSI     Information Technology  2404871  US55306N1046
 BLKB     Information Technology  2458878  US09227Q1004
 MDSO                Health Care  B5424Q0  US58471A1051
 MDCO                Health Care  2616773  US5846881051
 ALE                   Utilities  B02R1L6  US0185223007
 ...                         ...      ...           ...
 FNBC                 Financials  B8W67N3  US32115D1063
 TDW                      Energy  2891859  US8864231027
 MSFUT   Cash and/or Derivatives        -             -
 GRB      Information Technology  2BVFC92  US37373ESC56
 RTAM7   Cash and/or Derivatives        -             -

                             Exchange
 Ticker
 MKSI                          NASDAQ
 BLKB                          NASDAQ
 MDSO                          NASDAQ
 MDCO                          NASDAQ
 ALE     New York Stock Exchange Inc.
 ...                              ...
 FNBC                          NASDAQ
 TDW     New York Stock Exchange Inc.
 MSFUT                              -
 GRB     New York Stock Exchange Inc.
 RTAM7               Ice Futures U.S.

 [606 rows x 11 columns],
                                   Name                  Asset Class  \
 Ticker
 MKSI               MKS INSTRUMENTS INC                       Equity
 BLKB                     BLACKBAUD INC                       Equity
 MDSO            MEDIDATA SOLUTIONS INC                       Equity
 ALE                         ALLETE INC                       Equity
 COR          CORESITE REALTY REIT CORP                       Equity
 ...                                ...                          ...
 SMRT                    STEIN MART INC                       Equity
 HOS     HORNBECK OFFSHORE SERVICES INC                       Equity
 MSFUT        CASH COLLATERAL MSFUT USD  Cash Collateral and Margins
 GRB           GERBER SCIENTIFIC ESCROW                       Equity
 RTAM7    RUSSELL 2000 EMINI ICE JUN 17                      Futures

         Weight (%)     Price        Shares    Market Value  Notional Value  \
 Ticker
 MKSI          0.62     81.75  2,260,714.00  184,813,369.50  184,813,369.50
 BLKB          0.56     82.73  2,002,613.00  165,676,173.49  165,676,173.49
 MDSO          0.55     71.18  2,303,046.00  163,930,814.28  163,930,814.28
 ALE           0.52     73.39  2,110,751.00  154,908,015.89  154,908,015.89
 COR           0.51    105.28  1,430,931.00  150,648,415.68  150,648,415.68
 ...            ...       ...           ...             ...             ...
 SMRT          0.01      1.46  1,406,092.00    2,052,894.32    2,052,894.32
 HOS           0.01      1.68  1,082,073.00    1,817,882.64    1,817,882.64
 MSFUT         0.00    100.00  1,214,000.00    1,214,000.00    1,214,000.00
 GRB           0.00      0.01    349,019.00        3,490.19        3,490.19
 RTAM7         0.00  1,369.10        734.00            0.00   50,245,970.00

                          Sector    SEDOL          ISIN  \
 Ticker
 MKSI     Information Technology  2404871  US55306N1046
 BLKB     Information Technology  2458878  US09227Q1004
 MDSO                Health Care  B5424Q0  US58471A1051
 ALE                   Utilities  B02R1L6  US0185223007
 COR                 Real Estate  B3T3VV8  US21870Q1058
 ...                         ...      ...           ...
 SMRT     Consumer Discretionary  2844422  US8583751081
 HOS                      Energy  B00G814  US4405431069
 MSFUT   Cash and/or Derivatives        -             -
 GRB      Information Technology  2BVFC92  US37373ESC56
 RTAM7   Cash and/or Derivatives        -             -

                             Exchange
 Ticker
 MKSI                          NASDAQ
 BLKB                          NASDAQ
 MDSO                          NASDAQ
 ALE     New York Stock Exchange Inc.
 COR     New York Stock Exchange Inc.
 ...                              ...
 SMRT                          NASDAQ
 HOS     New York Stock Exchange Inc.
 MSFUT                              -
 GRB     New York Stock Exchange Inc.
 RTAM7               Ice Futures U.S.

 [606 rows x 11 columns],
                                  Name                  Asset Class  \
 Ticker
 MKSI              MKS INSTRUMENTS INC                       Equity
 ALE                        ALLETE INC                       Equity
 COR         CORESITE REALTY REIT CORP                       Equity
 HCSG          HEALTHCARE SERVICES INC                       Equity
 SR                          SPIRE INC                       Equity
 ...                               ...                          ...
 NOG          NORTHERN OIL AND GAS INC                       Equity
 SMRT                   STEIN MART INC                       Equity
 MSFUT       CASH COLLATERAL MSFUT USD  Cash Collateral and Margins
 GRB          GERBER SCIENTIFIC ESCROW                       Equity
 RTAU7   RUSSELL 2000 EMINI ICE SEP 17                      Futures

         Weight (%)     Price        Shares    Market Value  Notional Value  \
 Ticker
 MKSI          0.51     67.30  2,298,958.00  154,719,873.40  154,719,873.40
 ALE           0.51     71.68  2,155,116.00  154,478,714.88  154,478,714.88
 COR           0.49    103.53  1,449,027.00  150,017,765.31  150,017,765.31
 HCSG          0.48     46.83  3,096,385.00  145,003,709.55  145,003,709.55
 SR            0.47     69.75  2,046,368.00  142,734,168.00  142,734,168.00
 ...            ...       ...           ...             ...             ...
 NOG           0.01      1.40  1,931,577.00    2,704,207.80    2,704,207.80
 SMRT          0.01      1.69  1,430,587.00    2,417,692.03    2,417,692.03
 MSFUT         0.01    100.00  2,200,000.00    2,200,000.00    2,200,000.00
 GRB           0.00      0.01    349,019.00        3,490.19        3,490.19
 RTAU7         0.00  1,414.30        591.00            0.00   41,792,565.00

                          Sector    SEDOL          ISIN  \
 Ticker
 MKSI     Information Technology  2404871  US55306N1046
 ALE                   Utilities  B02R1L6  US0185223007
 COR                 Real Estate  B3T3VV8  US21870Q1058
 HCSG                Industrials  2417619  US4219061086
 SR                    Utilities  BYXJQG9  US84857L1017
 ...                         ...      ...           ...
 NOG                      Energy  B0WRP81  US6655311099
 SMRT     Consumer Discretionary  2844422  US8583751081
 MSFUT   Cash and/or Derivatives        -             -
 GRB      Information Technology  2BVFC92  US37373ESC56
 RTAU7   Cash and/or Derivatives        -             -

                             Exchange
 Ticker
 MKSI                          NASDAQ
 ALE     New York Stock Exchange Inc.
 COR     New York Stock Exchange Inc.
 HCSG                          NASDAQ
 SR      New York Stock Exchange Inc.
 ...                              ...
 NOG                     Nyse Mkt Llc
 SMRT                          NASDAQ
 MSFUT                              -
 GRB     New York Stock Exchange Inc.
 RTAU7               Ice Futures U.S.

 [606 rows x 11 columns],
                                  Name                  Asset Class  \
 Ticker
 MKSI              MKS INSTRUMENTS INC                       Equity
 HCSG          HEALTHCARE SERVICES INC                       Equity
 ALE                        ALLETE INC                       Equity
 COR         CORESITE REALTY REIT CORP                       Equity
 BCO                            BRINKS                       Equity
 ...                               ...                          ...
 QHC                QUORUM HEALTH CORP                       Equity
 NOG          NORTHERN OIL AND GAS INC                       Equity
 MSFUT       CASH COLLATERAL MSFUT USD  Cash Collateral and Margins
 GRB          GERBER SCIENTIFIC ESCROW                       Equity
 RTAU7   RUSSELL 2000 EMINI ICE SEP 17                      Futures

         Weight (%)     Price        Shares    Market Value  Notional Value  \
 Ticker
 MKSI          0.63     83.65  2,346,155.00  196,255,865.75  196,255,865.75
 HCSG          0.53     52.25  3,158,789.00  165,046,725.25  165,046,725.25
 ALE           0.52     73.27  2,208,109.00  161,788,146.43  161,788,146.43
 COR           0.51    108.58  1,484,767.00  161,216,000.86  161,216,000.86
 BCO           0.49     78.15  1,963,614.00  153,456,434.10  153,456,434.10
 ...            ...       ...           ...             ...             ...
 QHC           0.01      3.41  1,319,344.00    4,498,963.04    4,498,963.04
 NOG           0.01      1.25  1,979,076.00    2,473,845.00    2,473,845.00
 MSFUT         0.00    100.00  1,337,000.00    1,337,000.00    1,337,000.00
 GRB           0.00      0.01    349,019.00        3,490.19        3,490.19
 RTAU7         0.00  1,424.40        359.00            0.00   25,567,980.00

                          Sector    SEDOL          ISIN  \
 Ticker
 MKSI     Information Technology  2404871  US55306N1046
 HCSG                Industrials  2417619  US4219061086
 ALE                   Utilities  B02R1L6  US0185223007
 COR                 Real Estate  B3T3VV8  US21870Q1058
 BCO                 Industrials  2691305  US1096961040
 ...                         ...      ...           ...
 QHC                 Health Care  BYXT6Y7  US74909E1064
 NOG                      Energy  B0WRP81  US6655311099
 MSFUT   Cash and/or Derivatives        -             -
 GRB      Information Technology  2BVFC92  US37373ESC56
 RTAU7   Cash and/or Derivatives        -             -

                             Exchange
 Ticker
 MKSI                          NASDAQ
 HCSG                          NASDAQ
 ALE     New York Stock Exchange Inc.
 COR     New York Stock Exchange Inc.
 BCO     New York Stock Exchange Inc.
 ...                              ...
 QHC     New York Stock Exchange Inc.
 NOG                     Nyse Mkt Llc
 MSFUT                              -
 GRB     New York Stock Exchange Inc.
 RTAU7               Ice Futures U.S.

 [606 rows x 11 columns],
                                  Name                  Asset Class  \
 Ticker
 MKSI              MKS INSTRUMENTS INC                       Equity
 ALE                        ALLETE INC                       Equity
 HCSG          HEALTHCARE SERVICES INC                       Equity
 SR                          SPIRE INC                       Equity
 BCO                            BRINKS                       Equity
 ...                               ...                          ...
 DHX                     DHI GROUP INC                       Equity
 MSFUT       CASH COLLATERAL MSFUT USD  Cash Collateral and Margins
 BBOX                   BLACK BOX CORP                       Equity
 GRB          GERBER SCIENTIFIC ESCROW                       Equity
 RTAU7   RUSSELL 2000 EMINI ICE SEP 17                      Futures

         Weight (%)     Price        Shares    Market Value  Notional Value  \
 Ticker
 MKSI          0.63     82.35  2,350,546.00  193,567,463.10  193,567,463.10
 ALE           0.56     77.33  2,206,788.00  170,650,916.04  170,650,916.04
 HCSG          0.53     51.20  3,175,208.00  162,570,649.60  162,570,649.60
 SR            0.53     76.50  2,099,088.00  160,580,232.00  160,580,232.00
 BCO           0.51     78.45  1,973,823.00  154,846,414.35  154,846,414.35
 ...            ...       ...           ...             ...             ...
 DHX           0.01      1.95  2,182,695.00    4,256,255.25    4,256,255.25
 MSFUT         0.01    100.00  3,052,000.00    3,052,000.00    3,052,000.00
 BBOX          0.01      3.00    687,490.00    2,062,470.00    2,062,470.00
 GRB           0.00      0.01    349,019.00        3,490.19        3,490.19
 RTAU7         0.00  1,404.40        820.00            0.00   57,580,400.00

                          Sector    SEDOL          ISIN  \
 Ticker
 MKSI     Information Technology  2404871  US55306N1046
 ALE                   Utilities  B02R1L6  US0185223007
 HCSG                Industrials  2417619  US4219061086
 SR                    Utilities  BYXJQG9  US84857L1017
 BCO                 Industrials  2691305  US1096961040
 ...                         ...      ...           ...
 DHX      Information Technology  BWX70S9  US23331S1006
 MSFUT   Cash and/or Derivatives        -             -
 BBOX     Information Technology  2546977  US0918261076

### Limpiar Datos

In [53]:

numero=13
for i in range(numero-1):
    for z in range(numero):
        if len(ticker[z])>=len(ticker[i+1]):
            for j in ticker[z]:
                if j not in ticker[i+1]:
                    ticker[z].remove(j)
        else:
            for j in ticker[i+1]:
                if j not in ticker[z]:
                    ticker[i+1].remove(j)
                    
tickers = pd.DataFrame(ticker).T
tickers.head(600)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,PDCE,NKTR,MDCO,ALE,ALE,ALE,ALE,ALE,ALE,NKTR,NKTR,NKTR,NKTR
1,MDCO,SLCA,ALE,SR,SR,SR,SR,NKTR,LITE,ALE,CHE,CHE,CMD
2,SLCA,MDCO,CHE,CHE,IART,LITE,AVA,SR,SR,SR,ALE,CMD,CHE
3,ALE,PDCE,SR,LITE,CHE,NKTR,NKTR,B,NKTR,CHE,CMD,EVR,LITE
4,EVR,ALE,PDCE,NKTR,PRA,AVA,CACI,CACI,CHE,JBT,FIVE,ASGN,ASGN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
532,HT,QHC,GIFI,GIFI,KIRK,KIRK,PES,QHC,BGFV,DHX,LQDT,FTD,FRED
533,QNST,AGYS,CRR,KIRK,DHX,DHX,LXU,DHX,DHX,VSI,VSI,DHX,DHX
534,MSFUT,QNST,QHC,QHC,QHC,QHC,DHX,VSI,VSI,MSFUT,DHX,MSFUT,VSI
535,CRAY,MSFUT,MSFUT,MSFUT,MSFUT,MSFUT,MSFUT,MSFUT,MSFUT,GRB,MSFUT,GRB,MSFUT
536,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,GRB,USD,GRB,USD,GRB

### UNION DE PRECIOS DE CADA TICKET POR MES

In [54]:
x  = tickers[0] #tickets que estan en mis 13 datos
xx = pd.DataFrame(x) #convertirlo en dataframe

#### Mes 1

In [79]:
mes1    = pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/mes1.csv',
                   skiprows = [0,1,2,3,4,5,6,7,8,9]) #descargar datos primer mes
xmes1   = mes1['Ticker'] #tickets primer mes
price1  = mes1['Price'] #precios primer mes

junto   = [xmes1, price1]
p       = pd.DataFrame(junto).T

x1      = pd.merge(xx,p,how='left',left_on=tickers[0], right_on='Ticker')
precio1 = x1['Price']
tabla   = [x, precio1]
g       = pd.DataFrame(tabla).T

#### Mes 2

In [80]:
mes2    = pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/mes2.csv',
                   skiprows = [0,1,2,3,4,5,6,7,8,9]) #descargar datos segundo mes
xmes2   = mes2['Ticker'] #tickets segundo mes
price2  = mes2['Price'] #precios segundo mes

junto   = [xmes2, price2]
p       = pd.DataFrame(junto).T

x2      = pd.merge(xx,p,how='left',left_on=tickers[0], right_on='Ticker')
precio2 = x2['Price']
tabla   = [x, precio1, precio2]
g       = pd.DataFrame(tabla).T

#### Mes 3

In [81]:
mes3    = pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/mes3.csv',
                   skiprows = [0,1,2,3,4,5,6,7,8,9]) #descargar datos tercer mes
xmes3   = mes3['Ticker'] #tickets tercer mes
price3  = mes3['Price'] #precios tercer mes

junto   = [xmes3, price3]
pp      = pd.DataFrame(junto).T

x3      = pd.merge(xx,pp,how='left',left_on=tickers[0], right_on='Ticker')
precio3 = x3['Price']
tabla   = [x, precio1, precio2, precio3]
g       = pd.DataFrame(tabla).T

#### Mes 4

In [82]:
mes4    = pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/mes4.csv',
                   skiprows = [0,1,2,3,4,5,6,7,8,9]) #descargar datos cuarto mes
xmes4   = mes4['Ticker'] #tickets cuarto mes
price4  = mes4['Price'] #precios cuarto mes

junto   = [xmes4, price4]
pp      = pd.DataFrame(junto).T

x4      = pd.merge(xx,pp,how='left',left_on=tickers[0], right_on='Ticker')
precio4 = x4['Price']
tabla   = [x,precio1,precio2,precio3,precio4]
g       = pd.DataFrame(tabla).T

#### Mes 5

In [83]:
mes5    = pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/mes5.csv',
                   skiprows = [0,1,2,3,4,5,6,7,8,9]) #descargar datos quinto mes
xmes5   = mes5['Ticker'] #tickets quinto mes
price5  = mes5['Price'] #precios quinto mes

junto   = [xmes5, price5]
pp      = pd.DataFrame(junto).T

x5      = pd.merge(xx,pp,how='left',left_on=tickers[0], right_on='Ticker')
precio5 = x5['Price']
tabla   = [x, precio1, precio2, precio3, precio4, precio5]
g       = pd.DataFrame(tabla).T

#### Mes 6

In [84]:
mes6    = pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/mes6.csv',
                   skiprows = [0,1,2,3,4,5,6,7,8,9]) #descargar datos sexto mes
xmes6   = mes6['Ticker'] #tickets sexto mes
price6  = mes6['Price'] #precios sexto mes

junto   = [xmes6, price6]
pp      = pd.DataFrame(junto).T

x6      = pd.merge(xx,pp,how='left',left_on=tickers[0], right_on='Ticker')
precio6 = x6['Price']
tabla   = [x, precio1, precio2, precio3, precio4, precio5, precio6]
g       = pd.DataFrame(tabla).T

#### Mes 7

In [85]:
mes7    = pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/mes7.csv',
                   skiprows = [0,1,2,3,4,5,6,7,8,9]) #descargar datos septimo mes
xmes7   = mes7['Ticker'] #tickets septimo mes
price7  = mes7['Price'] #precios septimo mes

junto   = [xmes7, price7]
pp      = pd.DataFrame(junto).T

x7      = pd.merge(xx,pp,how='left',left_on=tickers[0], right_on='Ticker')
precio7 = x7['Price']
tabla   = [x, precio1, precio2, precio3, precio4, precio5, precio6, precio7]
g       = pd.DataFrame(tabla).T

#### Mes 8

In [86]:
mes8    = pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/mes8.csv',
                   skiprows = [0,1,2,3,4,5,6,7,8,9]) #descargar datos octavo mes
xmes8   = mes8['Ticker'] #tickets octavo mes
price8  = mes8['Price'] #precios octavo mes

junto   = [xmes8, price8]
pp      = pd.DataFrame(junto).T

x8      = pd.merge(xx,pp,how='left',left_on=tickers[0], right_on='Ticker')
precio8 = x8['Price']
tabla   = [x,precio1,precio2,precio3,precio4,precio5,precio6,precio7,precio8]
g       = pd.DataFrame(tabla).T

#### Mes 9

In [87]:
mes9    = pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/mes9.csv',
                   skiprows = [0,1,2,3,4,5,6,7,8,9]) #descargar datos noveno mes
xmes9   = mes9['Ticker'] #tickets noveno mes
price9  = mes9['Price'] #precios noveno mes

junto   = [xmes9, price9]
pp      = pd.DataFrame(junto).T

x9      = pd.merge(xx,pp,how='left',left_on=tickers[0], right_on='Ticker')
precio9 = x9['Price']
tabla   = [x, precio1, precio2, precio3, precio4, precio5, precio6, precio7, precio8, precio9]
g       = pd.DataFrame(tabla).T

#### Mes 10

In [88]:
mes10    = pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/mes10.csv',
                   skiprows = [0,1,2,3,4,5,6,7,8,9]) #descargar datos decimo mes
xmes10   = mes10['Ticker'] #tickets decimo mes
price10  = mes10['Price'] #precios decimo mes

junto    = [xmes10, price10]
pp       = pd.DataFrame(junto).T

x10      = pd.merge(xx,pp,how='left',left_on=tickers[0], right_on='Ticker')
precio10 = x10['Price']
tabla    = [x, precio1, precio2, precio3, precio4, precio5, precio6, precio7, precio8, precio9, precio10]
g        = pd.DataFrame(tabla).T

#### Mes 11

In [89]:
mes11    = pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/mes11.csv',
                   skiprows = [0,1,2,3,4,5,6,7,8,9]) #descargar datos onceavo mes
xmes11   = mes11['Ticker'] #tickets onceavo mes
price11  = mes11['Price'] #precios onceavo mes

junto    = [xmes11, price11]
pp       = pd.DataFrame(junto).T

x11      = pd.merge(xx,pp,how='left',left_on=tickers[0], right_on='Ticker')
precio11 = x11['Price']
tabla    = [x, precio1, precio2, precio3, precio4, precio5, precio6, precio7, precio8, precio9, precio10, precio11]
g        = pd.DataFrame(tabla).T

#### Mes 12

In [90]:
mes12    = pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/mes12.csv',
                   skiprows = [0,1,2,3,4,5,6,7,8,9]) #descargar datos doceavo mes
xmes12   = mes12['Ticker'] #tickets doceavo mes
price12  = mes12['Price'] #precios doceavo mes

junto    = [xmes12, price12]
pp       = pd.DataFrame(junto).T

x12      = pd.merge(xx,pp,how='left',left_on=tickers[0], right_on='Ticker')
precio12 = x12['Price']
tabla    = [x, precio1, precio2, precio3, precio4, precio5, precio6, precio7, precio8, precio9, precio10, precio11, precio12]
g        = pd.DataFrame(tabla).T

#### Mes 13

In [92]:
mes13    = pd.read_csv('https://raw.githubusercontent.com/anapaurangel/MyST/master/mes13.csv',
                   skiprows = [0,1,2,3,4,5,6,7,8,9]) #descargar datos decimotercero mes
xmes13   = mes13['Ticker'] #tickets decimotercero mes
price13  = mes13['Price'] #precios decimotercero mes

junto    = [xmes13, price13]
pp       = pd.DataFrame(junto).T

x13      = pd.merge(xx,pp,how='left',left_on=tickers[0], right_on='Ticker')
precio13 = x13['Price']
tabla    = [x, precio1, precio2, precio3, precio4, precio5, precio6, precio7, precio8, precio9, precio10, precio11, precio12, precio13]

In [94]:
#precios
g = pd.DataFrame(tabla).T
g.head(15)

,0,Price,Price,Price,Price,Price,Price,Price,Price,Price,Price,Price,Price,Price
0,PDCE,67.59,62.35,55.23,49.66,43.11,47.16,39.33,49.03,50.93,45.95,51.54,51.85,52.53
1,MDCO,52.42,48.90,49.32,39.77,38.01,38.45,36.69,37.04,28.74,29.00,27.34,33.13,30.62
2,SLCA,50.57,47.99,41.50,38.00,35.49,29.13,27.21,31.07,30.51,33.17,32.56,33.29,25.89
3,ALE,67.21,67.71,69.91,73.39,71.68,73.27,77.33,77.29,78.35,80.50,74.36,72.44,68.15
4,EVR,79.55,77.90,73.75,67.80,70.50,78.65,75.45,80.25,80.10,86.85,90.00,100.55,93.05
5,CACI,125.40,117.30,118.00,123.10,125.05,125.10,129.80,139.35,143.75,131.95,132.35,140.55,149.05
6,PRA,59.10,60.25,61.90,59.55,60.80,61.80,53.25,54.65,56.05,61.85,57.15,54.70,47.80
7,SR,65.90,67.50,68.55,70.85,69.75,72.60,76.50,74.65,78.95,82.25,75.15,66.50,67.80
8,CMD,82.11,80.10,74.41,77.82,77.91,74.20,81.25,94.17,98.08,106.48,102.87,110.93,116.31
9,FFIN,44.00,40.10,39.95,38.25,44.20,43.25,40.05,45.20,45.65,47.45,45.05,46.45,46.00
10,CHE,178.55,182.69,201.38,204.66,204.53,197.50,197.29,202.05,223.43,245.94,243.02,260.57,259.63
11,SANM,39.00,40.60,37.25,36.60,38.10,35.85,37.45,37.15,32.73,34.00,33.00,26.15,27.55
12,GBCI,36.92,33.93,33.78,32.26,36.61,34.92,33.21,37.76,37.96,40.05,39.39,39.22,38.90
13,BGS,42.50,40.25,42.00,40.55,35.60,36.25,30.50,31.85,31.80,38.70,35.15,33.00,27.70
14,WAGE,77.00,72.30,73.80,70.75,67.20,65.20,58.95,60.70,63.75,64.15,62.00,60.55,52.45

necesitamos el nav diario y proponer el rebalanceo, en la formula es las acciones emitidas

acciones yb pesos

In [1]:
g['Price'] = g['Price'].astype(float)

precio1=g.iloc[:,1]
precio2=g.iloc[:,2]
precio3=g.iloc[:,3]
precio4=g.iloc[:,4]
precio5=g.iloc[:,5]
precio6=g.iloc[:,6]
precio7=g.iloc[:,7]
precio8=g.iloc[:,8]
precio9=g.iloc[:,9]
precio10=g.iloc[:,10]
precio11=g.iloc[:,11]
precio12=g.iloc[:,12]
precio13=g.iloc[:,13]


def rend(x,y):
    return (x/y)-1

rend1=rend(precio2,precio1)
rend2=rend(precio3,precio2)
rend3=rend(precio4,precio3)
rend4=rend(precio5,precio4)
rend5=rend(precio6,precio5)
rend6=rend(precio7,precio6)
rend7=rend(precio8,precio7)
rend8=rend(precio9,precio8)
rend9=rend(precio10,precio9)
rend10=rend(precio11,precio10)
rend11=rend(precio12,precio11)
rend12=rend(precio13,precio12)

SyntaxError: invalid syntax (<ipython-input-1-68b42b27e629>, line 2)